In [1]:
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import folium

%matplotlib inline
pd.set_option('display.max_columns', 500)

In [2]:
applications = pd.read_csv('../data/pruned_data.csv', low_memory=False)
applications

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,0,2,1,1,1,2,2,215000,97.0,6.5,-0.034,7436.14,NaN,4336.0,NaN,2703.37,360,NaN,2,2,2,2,225000,1,59.0,42,2,10,2,2,25-34,1,10,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,1,2,2,2,1,1,2,2,445000,92.74,6.75,0.847,16155.19,NaN,4290.4,3276.4,NaN,360,NaN,2,2,2,2,475000,1,202.0,46,9,2,2,2,45-54,3,10,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14
2,2,RVDPPPGHCGZ40J4VQ731,40900,CA,6.017030e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,1,1,1,2,2,235000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,138.0,NaN,9,9,2,2,35-44,6,10,NaN,NaN,NaN,2703,39.92,102400,60.0,478,1631,51
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,2,2,2,1,1,2,2,425000,91.47,7.125,1.48,22789.69,NaN,11771.13,NaN,5624.46,360,NaN,2,2,2,2,455000,1,150.0,46,3,10,2,2,45-54,3,10,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42
4,4,RVDPPPGHCGZ40J4VQ731,12580,MD,2.451015e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Female,4,0,2,2,1,1,2,2,205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,75.0,NaN,9,9,2,2,35-44,3,10,NaN,NaN,NaN,3249,92.34,116100,38.0,444,1500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12974034,16080204,RVDPPPGHCGZ40J4VQ731,38060,AZ,4.013422e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,1,2,2,2,1,1,2,2,295000,96.5,6.125,0.414,15055.59,NaN,5856.47,5856.47,NaN,360,NaN,2,2,2,2,305000,1,61.0,42,3,10,2,2,25-34,3,10,NaN,NaN,NaN,3994,85.80,88800,53.0,430,1296,50
12974035,16080205,RVDPPPGHCGZ40J4VQ731,12060,GA,1.311713e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,1,2,1,1,1,2,2,645000,88.12,6.25,-0.492,9355.98,NaN,4990.25,NaN,3857.1,360,60,2,2,2,2,735000,1,201.0,39,1,10,2,2,35-44,1,10,NaN,NaN,NaN,4745,34.77,95700,166.0,1380,1497,17
12974036,16080206,RVDPPPGHCGZ40J4VQ731,29820,NV,3.200300e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,3,0,2,2,1,1,2,2,275000,96.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,285000,1,58.0,50%-60%,3,10,2,2,35-44,3,9,NaN,NaN,NaN,5249,84.82,81700,50.0,388,1007,36
12974037,16080207,RVDPPPGHCGZ40J4VQ731,39340,UT,4.904901e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,2,2,2,32,1,2,2,515000,78.81,6.125,0.049,21662.07,NaN,9852.87,1080.94,NaN,360,NaN,2,2,2,2,645000,1,140.0,50%-60%,9,3,2,2,25-34,3,10,NaN,NaN,NaN,5884,15.89,96000,110.0,1188,1327,20
12974038,16080208,RVDPPPGHCGZ40J4VQ731,29820,NV,3.200300e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Male,3,0,2,1,32,1,2,2,325000,74.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,435000,1,94.0,49,9,10,2,2,25-34,6,7,NaN,NaN,NaN,6749,66.14,81700,105.0,1022,2223,16

In [3]:
tracts = gpd.read_file('../data/tract.json')
ct_tracts = pd.read_csv('../data/2022tractcrosswalk.csv', usecols=[0,1])
ct_tracts['tract_fips_2020'] = ['0' + str(tract) for tract in ct_tracts['tract_fips_2020']]
ct_tracts['Tract_fips_2022'] = ['0' + str(tract) for tract in ct_tracts['Tract_fips_2022']]
tract_mapping = {row['Tract_fips_2022']:row['tract_fips_2020'] for ind, row in ct_tracts.iterrows()}
tracts['GEOID'] = tracts['GEOID'].replace(tract_mapping)
tracts

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,NAMELSADCO,STATE_NAME,LSAD,ALAND,AWATER,geometry
0,01,097,006505,1400000US01097006505,01097006505,65.05,Census Tract 65.05,AL,Mobile County,Alabama,CT,94686529,501122,"POLYGON ((-88.40601 30.58976, -88.38573 30.615..."
1,05,131,001202,1400000US05131001202,05131001202,12.02,Census Tract 12.02,AR,Sebastian County,Arkansas,CT,4381207,34047,"POLYGON ((-94.43277 35.33941, -94.39136 35.338..."
2,06,059,099511,1400000US06059099511,06059099511,995.11,Census Tract 995.11,CA,Orange County,California,CT,944442,1356526,"POLYGON ((-118.11464 33.74461, -118.11305 33.7..."
3,06,037,620904,1400000US06037620904,06037620904,6209.04,Census Tract 6209.04,CA,Los Angeles County,California,CT,576178,413509,"POLYGON ((-118.41269 33.88388, -118.40768 33.8..."
4,06,001,428500,1400000US06001428500,06001428500,4285,Census Tract 4285,CA,Alameda County,California,CT,624197,383522,"POLYGON ((-122.26360 37.76743, -122.25575 37.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85188,37,159,051502,1400000US37159051502,37159051502,515.02,Census Tract 515.02,NC,Rowan County,North Carolina,CT,13653797,602104,"POLYGON ((-80.69609 35.50581, -80.65807 35.546..."
85189,06,065,042802,1400000US06065042802,06065042802,428.02,Census Tract 428.02,CA,Riverside County,California,CT,3156976,0,"POLYGON ((-117.24372 33.78334, -117.23477 33.7..."
85190,48,423,001102,1400000US48423001102,48423001102,11.02,Census Tract 11.02,TX,Smith County,Texas,CT,2774447,679,"POLYGON ((-95.30362 32.31181, -95.27895 32.312..."
85191,36,015,000500,1400000US36015000500,36015000500,5,Census Tract 5,NY,Chemung County,New York,CT,1493597,50755,"POLYGON ((-76.83284 42.08993, -76.82248 42.096..."
85192,42,003,562800,1400000US42003562800,42003562800,5628,Census Tract 5628,PA,Allegheny County,Pennsylvania,CT,1776466,0,"POLYGON ((-80.08554 40.42384, -80.06858 40.431..."

In [4]:
applications['census_string'] = [str(tract)[:-2] for tract in applications['census_tract']]
applications['census_string'] = ['0'+ tract if len(tract) == 10 else tract for tract in applications['census_string']]
applications.head()

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,0,2,1,1,1,2,2,215000,97.0,6.5,-0.034,7436.14,NaN,4336.0,NaN,2703.37,360,NaN,2,2,2,2,225000,1,59.0,42,2,10,2,2,25-34,1,10,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28,48201552502
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,1,2,2,2,1,1,2,2,445000,92.74,6.75,0.847,16155.19,NaN,4290.4,3276.4,NaN,360,NaN,2,2,2,2,475000,1,202.0,46,9,2,2,2,45-54,3,10,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,48085031314
2,2,RVDPPPGHCGZ40J4VQ731,40900,CA,6.017030e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,1,1,1,2,2,235000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,138.0,NaN,9,9,2,2,35-44,6,10,NaN,NaN,NaN,2703,39.92,102400,60.0,478,1631,51,06017030301
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,2,2,2,1,1,2,2,425000,91.47,7.125,1.48,22789.69,NaN,11771.13,NaN,5624.46,360,NaN,2,2,2,2,455000,1,150.0,46,3,10,2,2,45-54,3,10,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42,09013538202
4,4,RVDPPPGHCGZ40J4VQ731,12580,MD,2.451015e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Female,4,0,2,2,1,1,2,2,205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,75.0,NaN,9,9,2,2,35-44,3,10,NaN,NaN,NaN,3249,92.34,116100,38.0,444,1500,0,24510150400

In [5]:
approved = applications[(applications['action_taken'] == 1)]
med_loan_value = approved.groupby('census_string')['loan_amount'].median()
med_loan_value = med_loan_value.reset_index()
med_loan_value.sort_values(by='loan_amount',ascending=False)

      census_string  loan_amount
19380   12099003507    5005000.0
16590   12021000500    5005000.0
11214   06075060100    4405000.0
7652    06037700600    3855000.0
51157   36061009903    3825000.0
...             ...          ...
37477   26049001700      15000.0
27139   17163500900      15000.0
27057   17143005100      15000.0
68363   47157011401       5000.0
41790   28049011600       5000.0

[83393 rows x 2 columns]

In [6]:
m = folium.Map(location=[40, -95], zoom_start=4, prefer_canvas=True)

folium.Choropleth(
    geo_data=tracts,
    name="choropleth",
    data=med_loan_value,
    columns=["census_string", "loan_amount"],
    key_on="feature.properties.GEOID",
    fill_color="PuBu",
    fill_opacity=0.7,
    nan_fill_opacity = 0,
    line_opacity=.01,
    legend_name="Loan Amount",
    bins=[0,250_000,500_000,1_000_000,2_000_000,5_050_000]
).add_to(m)

folium.LayerControl().add_to(m)

m.save('../maps/loan_value.html')

In [7]:
applications = applications[applications['rate_spread'] != 'Exempt']

In [8]:
applications['rate_spread'] = applications['rate_spread'].astype('float')

/tmp/ipykernel_4613/1542282059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  applications['rate_spread'] = applications['rate_spread'].astype('float')

In [9]:
spreads = applications.groupby('census_string')['rate_spread'].median().reset_index()
spreads

      census_string  rate_spread
0       01001020100       0.3575
1       01001020200       0.8150
2       01001020300       0.3695
3       01001020400       0.5430
4       01001020501       0.4795
...             ...          ...
83912   78030960400          NaN
83913   78030960700          NaN
83914   78030961100          NaN
83915   78030961200          NaN
83916             n       0.7000

[83917 rows x 2 columns]

In [10]:
m = folium.Map(location=[40, -95], zoom_start=4, prefer_canvas=True)

folium.Choropleth(
    geo_data=tracts,
    name="choropleth",
    data=spreads,
    columns=["census_string", "rate_spread"],
    key_on="feature.properties.GEOID",
    fill_color="PuBu",
    fill_opacity=0.7,
    nan_fill_opacity = 0,
    line_opacity=.01,
    legend_name="Loan Amount",
    bins=[-5,-1,-0.5,0,0.5,1,2,3,5,10]
).add_to(m)

folium.LayerControl().add_to(m)

m.save('../maps/rate_spread.html')

In [11]:
applications[applications['census_string'] == '36081056100']

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
12664538,15601502,2549006T9J2DMLJVRS64,35614,NY,3.608106e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,2,0,2,1,2,1,2,1,255000,42.338,2.259,4.8,NaN,NaN,NaN,NaN,NaN,360,12,2,1,2,2,595000,1,88.0,45,8,10,2,2,55-64,6,10,NaN,NaN,NaN,20,50.0,99000,0.0,4,0,0,36081056100

In [12]:
app_count = applications[~applications['rate_spread'].isna()]['census_string'].value_counts().reset_index()

In [13]:
app_count[app_count['count']<10]

      census_string  count
79233   47157011020      9
79234   12055960105      9
79235   06037226410      9
79236   72011810400      9
79237   36081074500      9
...             ...    ...
83411   19169001102      1
83412   26163553800      1
83413   30035940200      1
83414   48201432006      1
83415   40109980001      1

[4183 rows x 2 columns]

In [14]:
m = folium.Map(location=[40, -95], zoom_start=4, prefer_canvas=True)

folium.Choropleth(
    geo_data=tracts,
    name="choropleth",
    data=app_count[app_count['count'] < 4000],
    columns=["census_string", "count"],
    key_on="feature.properties.GEOID",
    fill_color="PuBu",
    fill_opacity=0.7,
    nan_fill_opacity = 0,
    line_opacity=.01,
    legend_name="Application_count",
    bins=[0,10,100,1000,4000]
).add_to(m)

folium.LayerControl().add_to(m)

m.save('../maps/app_count.html')

In [15]:
low_apps = list(app_count[app_count['count']<5]['census_string'])
low_apps

['48355005605',
 '40089098300',
 '35043940600',
 '45079000500',
 '12095016907',
 '66010950702',
 '72127007600',
 '38017010107',
 '72151951200',
 '16011940000',
 '06073008363',
 '66010955700',
 '39095000800',
 '39113001700',
 '11001007403',
 '36065020300',
 '28049002300',
 '36005022902',
 '48201421403',
 '48479001815',
 '48303000700',
 '48029110500',
 '40109103300',
 '26145000700',
 '26145000600',
 '04005945200',
 '36081040301',
 '25025010408',
 '72031980003',
 '72137121200',
 '36119001101',
 '66010955900',
 '72113070202',
 '22107000200',
 '18167000300',
 '06037224410',
 '72033020425',
 '26163525800',
 '01105687001',
 '22033000100',
 '22075050700',
 '19013000100',
 '21159950300',
 '40109104200',
 '36081005200',
 '72097080200',
 '40025950300',
 '72137122201',
 '12086000807',
 '13261950100',
 '13135050329',
 '36005037400',
 '26163514300',
 '25025070103',
 '01055000800',
 '72079850300',
 '36005021301',
 '72035260600',
 '39017014600',
 '04005944900',
 '12111380100',
 '42133000100',
 '04013941300',
 '22079012800',
 '72151950601',
 '48201452103',
 '06037269909',
 '48397040304',
 '72121960500',
 '22045031000',
 '40031001700',
 '72121960700',
 '34013008200',
 '17163501300',
 '34017002002',
 '53053072909',
 '22079013900',
 '48479000800',
 '26049012202',
 '39035119402',
 '48301950100',
 '24510200400',
 '55127000501',
 '66010954000',
 '09001211100',
 '25025000603',
 '25025000805',
 '36119003100',
 '05145070801',
 '17143001300',
 '36005025700',
 '45075010301',
 '51510200701',
 '51760040300',
 '26163535700',
 '36081023501',
 '39061002500',
 '72099420402',
 '72117959601',
 '06037269903',
 '09003503101',
 '12086001705',
 '42003552200',
 '01073002402',
 '26049001400',
 '32031940200',
 '48375010300',
 '39035115400',
 '36081025500',
 '17201002600',
 '35006941500',
 '42021000300',
 '39035199000',
 '24510080500',
 '05069001700',
 '39035116300',
 '48201452002',
 '01087231900',
 '30069000100',
 '36047027800',
 '72105520200',
 '36047009202',
 '36005032400',
 '42041013104',
 '39095001900',
 '39035111401',
 '36055004000',
 '29510110400',
 '48479001300',
 '24510170200',
 '39099813900',
 '48245005100',
 '66010950900',
 '36047009001',
 '48201422303',
 '72099420304',
 '54061010104',
 '66010950501',
 '72099420303',
 '48041001704',
 '66010950402',
 '55079008400',
 '72025200200',
 '35031943601',
 '72019952201',
 '41039003700',
 '48201221800',
 '72119130703',
 '30003940500',
 '21019030200',
 '47157011300',
 '12021011204',
 '48163950201',
 '48227950300',
 '08099000600',
 '06065042210',
 '36081021200',
 '49005980100',
 '05077470400',
 '36005023100',
 '02185000200',
 '02180000100',
 '72021031201',
 '51121020401',
 '72007230501',
 '01015000600',
 '36005018101',
 '20029977400',
 '36047089000',
 '22019000400',
 '26145000200',
 '04027012100',
 '36055000700',
 '36029002801',
 '54049020100',
 '36047002000',
 '26073000401',
 '31055001900',
 '06037215101',
 '53033005202',
 '26025002600',
 '36047040500',
 '21067000802',
 '36005046205',
 '17143005000',
 '72121960600',
 '47037019300',
 '13095001500',
 '72137122400',
 '40109109900',
 '22055000900',
 '29161890402',
 '32031000702',
 '26021000400',
 '06037222600',
 '12095010400',
 '22117950900',
 '53065941000',
 '34021001900',
 '22017023702',
 '31015975800',
 '06019000602',
 '12086004901',
 '39013011500',
 '06037229410',
 '26049000600',
 '26163530900',
 '72127007500',
 '26099230502',
 '34013022900',
 '39035121100',
 '39151702300',
 '39095002000',
 '48201432806',
 '13121001002',
 '38011965300',
 '05035030703',
 '42003513800',
 '36063020600',
 '48201222504',
 '48201421501',
 '26163525400',
 '12086000719',
 '17031301802',
 '39099800501',
 '48201550403',
 '39139003100',
 '06073008305',
 '48041001606',
 '39095003200',
 '06037135116',
 '39095010400',
 '36047033000',
 '36005011502',
 '28151000600',
 '29510110100',
 '21095970400',
 '12099002400',
 '72049950500',
 '48201532301',
 '40143002100',
 '17031838600',
 '12069031104',
 '12031013200',
 '36005026500',
 '48061013206',
 '36081020500',
 '12011030803',
 '26163533300',
 '48113014145',
 '06085506504',
 '06041111001',
 '48201240804',
 '48427950202',
 '48113009804',
 '29189212202',
 '17031260100',
 '45049920500',
 '36047035900',
 '06037602506',
 '06037269907',
 '01015000500',
 '12086981300',
 '36029002802',
 '35006945800',
 '36081017901',
 '20147475200',
 '28055950100',
 '26161980102',
 '40119010300',
 '51700032133',
 '01097001400',
 '42101000600',
 '26163507000',
 '36087011304',
 '51810044805',
 '26161400800',
 '26125160300',
 '36005012701',
 '22033002802',
 '48305950600',
 '47093006901',
 '26049000700',
 '22109000105',
 '48179950600',
 '48201533000',
 '22045030800',
 '36047036501',
 '72097081900',
 '36047028600',
 '26163522000',
 '72113072704',
 '72097082200',
 '34007601800',
 '13121010214',
 '26163543700',
 '13097080107',
 '26163565301',
 '72111730100',
 '72097081523',
 '72067820102',
 '72055961100',
 '72153750202',
 '72127002002',
 '72153750503',
 '04001944902',
 '72087110302',
 '28049002700',
 '18163001900',
 '72061040101',
 '18089011700',
 '51027010500',
 '26161400300',
 '31001966100',
 '36081029300',
 '36067002300',
 '42077001200',
 '06037204410',
 '36083040701',
 '48201221502',
 '47157000600',
 '48201433100',
 '36055009602',
 '24031701601',
 '36029001601',
 '51003010901',
 '36067006102',
 '36005021100',
 '72127007400',
 '36081046500',
 '36055005000',
 '18097330702',
 '30063000300',
 '39035118900',
 '13121009405',
 '17167001600',
 '36005002702',
 '28035000602',
 '36047029200',
 '72045951900',
 '36005040100',
 '28049002200',
 '39003013700',
 '36047035500',
 '06037211420',
 '36061020701',
 '06037191410',
 '72059740400',
 '36047010402',
 '72081957800',
 '36067005602',
 '36061024301',
 '72001956500',
 '36047042700',
 '36055006500',
 '22017023500',
 '72007230502',
 '17017960500',
 '01077010700',
 '01097003901',
 '34017002001',
 '06073015706',
 '13031110407',
 '37119000301',
 '06037191201',
 '13271950102',
 '35013001402',
 '22017022300',
 '72141957300',
 '48201432803',
 '36081040101',
 '48481740200',
 '28151000400',
 '26163537800',
 '13063040306',
 '72021031114',
 '36055003200',
 '36047043800',
 '36005038301',
 '01097000802',
 '36005005002',
 '36005038100',
 '17031834900',
 '39035116900',
 '72127008900',
 '53075000602',
 '13215011400',
 '17143000200',
 '72113071500',
 '48201420500',
 '06073008378',
 '47157011401',
 '13121002600',
 '28151001100',
 '01097001501',
 '13245010602',
 '22097961501',
 '54047954504',
 '36061024900',
 '36047044100',
 '17115000501',
 '47157010500',
 '17197881302',
 '78010970600',
 '39145003200',
 '45041000900',
 '48141001800',
 '48201220800',
 '29510110200',
 '48345950100',
 '22015010400',
 '34013011300',
 '17119400700',
 '39095002500',
 '37155960802',
 '36047051602',
 '39049010300',
 '06037228420',
 '36005006700',
 '51710004100',
 '36015000700',
 '05107480600',
 '48061013402',
 '06037211122',
 '48245002000',
 '47113000800',
 '48033950100',
 '25013801102',
 '17031540101',
 '26145001100',
 '08009964600',
 '26163530300',
 '46121940100',
 '30085940002',
 '29077000101',
 '72067820400',
 '12033001600',
 '36081027102',
 '13135050541',
 '35031940301',
 '34021000800',
 '05091020600',
 '55078940101',
 '36047043100',
 '22075050500',
 '72083959900',
 '39009973101',
 '36005006200',
 '09001071600',
 '26049000500',
 '35035940000',
 '48245005400',
 '26049000300',
 '05035030302',
 '36063940001',
 '48487950700',
 '23001020100',
 '28119950200',
 '45075010602',
 '17163501200',
 '22125980000',
 '17031843500',
 '42101005600',
 '06025012400',
 '25017350106',
 '48303000901',
 '72137122600',
 '66010950401',
 '36005006000',
 '42003050900',
 '06067008506',
 '72127001400',
 '66010952900',
 '36047054500',
 '26161410100',
 '26049000400',
 '39095003300',
 '39061003300',
 '72097080300',
 '72153750602',
 '55079009800',
 '13245010205',
 '72059740102',
 '36029002704',
 '06037208502',
 '36005006900',
 '36029003901',
 '54051020500',
 '12086002004',
 '72149720502',
 '06037208401',
 '36081008500',
 '36005036501',
 '26125181001',
 '36029002703',
 '48037010500',
 '25013801200',
 '21035010301',
 '48061013801',
 '42027012500',
 '35001940602',
 '09003501300',
 '13021013701',
 '06037207102',
 '72113071602',
 '39035198400',
 '34017001900',
 '39035116700',
 '17201002800',
 '42045404900',
 '72129220501',
 '34011030100',
 '36055005200',
 '06107004302',
 '34031182000',
 '31075956300',
 '72075711002',
 '72043954300',
 '36005033601',
 '72013302201',
 '72087110600',
 '12086001605',
 '35031946002',
 '06037224020',
 '06037128210',
 '48061010900',
 '06037980021',
 '26163536700',
 '48201433003',
 '36005004600',
 '36061021900',
 '17031770500',
 '72105520100',
 '19163010900',
 '72107955002',
 '36081027301',
 '04019940800',
 '12057010823',
 '26125168901',
 '24510260303',
 '26163501200',
 '04001944302',
 '06087110302',
 '36055005100',
 '36047079001',
 '25013801101',
 '04019000502',
 '29510111200',
 '06037221602',
 '22073001500',
 '24031700724',
 '36047036002',
 '09009170100',
 '36005033802',
 '55079185400',
 '22017023200',
 '72085190302',
 '39095007307',
 '46031941000',
 '36065020102',
 '48201311400',
 '37051980100',
 '53075000100',
 '48201532102',
 '05143011301',
 '36081037501',
 '26163516800',
 '17143000900',
 '25023980200',
 '36067005300',
 '17031351400',
 '26163514500',
 '36005005200',
 '47157000800',
 '48303000607',
 '56021000702',
 '17115000200',
 '22033002801',
 '20173006500',
 '06037190303',
 '29510111300',
 '48085031720',
 '36047009402',
 '48245010100',
 '13139001203',
 '13215003400',
 '34023000504',
 '17163500900',
 '51710004200',
 '02164000100',
 '32007951700',
 '12057010814',
 '39081000200',
 '48201321301',
 '48201230100',
 '19103002100',
 '22071000902',
 '29095017400',
 '26163533200',
 '06037482304',
 '31183973600',
 '31109000500',
 '12086980600',
 '48113020401',
 '12011100201',
 '06037191110',
 '36005004800',
 '48427950101',
 '42021000200',
 '40143007643',
 '29510109700',
 '01097007600',
 '36029001602',
 '26099243502',
 '53033005305',
 '36119006302',
 '06037213402',
 '11001007408',
 '09001070400',
 '41003010602',
 '36005008900',
 '39153504100',
 '46121940200',
 '39101000100',
 '13003960300',
 '26163534800',
 '48485010100',
 '48439121905',
 '20157978100',
 '28083950200',
 '72111730800',
 '15003008611',
 '36005021502',
 '36005025300',
 '06037408724',
 '29095989100',
 '20045000301',
 '06037211410',
 '36047018501',
 '36061017200',
 '36047056302',
 '37181960600',
 '39075976401',
 '36061009600',
 '48061013307',
 '17031842500',
 '36047010602',
 '29510107400',
 '36081040901',
 '06075012202',
 '36081118500',
 '06075061101',
 '01101000200',
 '39049001810',
 '13095001403',
 '48201521701',
 '48201452204',
 '35001000906',
 '42073000400',
 '12011030804',
 '48167721402',
 '48201433507',
 '21111005300',
 '29510109600',
 '08041004403',
 '08005980000',
 '36059407802',
 '25009251200',
 '36005002500',
 '48085031671',
 '26163531700',
 '48201450804',
 '06019005526',
 '40109104300',
 '40109110000',
 '48201413204',
 '48201233104',
 '53025011404',
 '72127002800',
 '72127003100',
 '47157011100',
 '28049003000',
 '28075000600',
 '47157011200',
 '72137122202',
 '01047957000',
 '47157001400',
 '72113073002',
 '72087110400',
 '36005028300',
 '06037120104',
 '09003502900',
 '48479001201',
 '36047021200',
 '06037265303',
 '29510120200',
 '06037213320',
 '06037602513',
 '55079186800',
 '72015280101',
 '48201341304',
 '36005008700',
 '72129220200',
 '72149720504',
 '72055960900',
 '01047957200',
 '13215001600',
 '72137122100',
 '22015011300',
 '12086011408',
 '48201421502',
 '39035120701',
 '72129220700',
 '13215002700',
 '39035117102',
 '72009250300',
 '20035494100',
 '35009000601',
 '34039980000',
 '30003940600',
 '08101000903',
 '36005026300',
 '48141002100',
 '22101041600',
 '06037534405',
 '48201231700',
 '37147000102',
 '25025010206',
 '13021010400',
 '06037224420',
 '42101000500',
 '45079010502',
 '21193970900',
 '36005021302',
 '46075091600',
 '48209010307',
 '36061025300',
 '49011125201',
 '12086001208',
 '06037221304',
 '06037212202',
 '29031881400',
 '36109000400',
 '39049009251',
 '34023006002',
 '48201232703',
 '06075012405',
 '17115000900',
 '48201423204',
 '72013300301',
 '48485010400',
 '39035108301',
 '29510127100',
 '06037269905',
 '56013940100',
 '36119000401',
 '46007941200',
 '26163520700',
 '21151010500',
 '01097000500',
 '48201331400',
 '42101007700',
 '72081957700',
 '01077010100',
 '06037212420',
 '13021011100',
 '13095000200',
 '06037209510',
 '45077011202',
 '05035031200',
 '06085513000',
 '40143005900',
 '72073956304',
 '72023830608',
 '42021010200',
 '42129800100',
 '48245005600',
 '06037191204',
 '39035151800',
 '17031420100',
 '36005017300',
 '38005940200',
 '72073956200',
 '40007951700',
 '51680000500',
 '39035111700',
 '48061013802',
 '48479001104',
 '47093006903',
 '48479000602',
 '37107010300',
 '39035114600',
 '13031110405',
 '05069001300',
 '36081015700',
 '55025000410',
 '22065960300',
 '36055009200',
 '05037950100',
 '48201432303',
 '48113007832',
 '36005020502',
 '36081023800',
 '06037207103',
 '11001010900',
 '18089011400',
 '06037980025',
 '36007000500',
 '39097041000',
 '13089021418',
 '17183000300',
 '12057012211',
 '72113071700',
 '39035115700',
 '04013104402',
 '18089012200',
 '06073015901',
 '04001942700',
 '13095010702',
 '37183052409',
 '34039039302',
 '36005023301',
 '17183000200',
 '06071940100',
 '38085940800',
 '24510260604',
 '06037203710',
 '12086005303',
 '34003037204',
 '26073000701',
 '36005042901',
 '20173003700',
 '72127008700',
 '28075000401',
 '48201240102',
 '06059062646',
 '22109001302',
 '11001009810',
 '06037231710',
 '42079200100',
 '26163531501',
 '48479001402',
 '36081014100',
 '38055940100',
 '18089012100',
 '06075980900',
 '72151950700',
 '22017021700',
 '72127004600',
 '46137941600',
 '72127003501',
 '72127980000',
 '17163502700',
 '72045952000',
 '32003001501',
 '17089851500',
 '36047034800',
 '13095000800',
 '04013941200',
 '35031943802',
 '72043954400',
 '36005007900',
 '72061040701',
 '34031175402',
 '36081015900',
 '36081045200',
 '32031002211',
 '72127980103',
 '04027980006',
 '36047044700',
 '48215020729',
 '22097961301',
 '17031540102',
 '01101001200',
 '36005017901',
 '55079008800',
 '48479001818',
 '72127009000',
 '35001000715',
 '48001950401',
 '13067030414',
 '06037236205',
 '49037942000',
 '45075010801',
 '39049001200',
 '06037190901',
 '34029715303',
 '04017942500',
 '39151700100',
 '54047953600',
 '12057980400',
 '40031001600',
 '02050000300',
 '36005018302',
 '35031940302',
 '36067003000',
 '72153750502',
 '39099800600',
 '72011810100',
 '22017023701',
 '39025041304',
 '04021000807',
 '48479000601',
 '38035010301',
 '55079014900',
 '72113073003',
 '06037190510',
 '72021030800',
 '08083941100',
 '22035000300',
 '72033980005',
 '25027731602',
 '53035090300',
 '36005012901',
 '01073003300',
 '24033805601',
 '12086009505',
 '17031340600',
 '36047090600',
 '36081097202',
 '22017023802',
 '48485011100',
 '51680000203',
 '72127003800',
 '06031980100',
 '55101980000',
 '12086005304',
 '28151001000',
 '72127003600',
 '48113013627',
 '48201340201',
 '48453002419',
 '40109104700',
 '27031990000',
 '48201413203',
 '26163553200',
 '72113071000',
 '48121021204',
 '48201520603',
 '48201433505',
 '29510127000',
 '06037191203',
 '35061940300',
 '32003001614',
 '48201240504',
 '06115040902',
 '32031001018',
 '36047088001',
 '41051010602',
 '48201432301',
 '48329980000',
 '48099010201',
 '13089021204',
 '48201314003',
 '21227010400',
 '18141002700',
 '42095011100',
 '72087110102',
 '31171957100',
 '36081009500',
 '36047050801',
 '36013030500',
 '25013811500',
 '36037940100',
 '47155980100',
 '13095010601',
 '36061026900',
 '01073005101',
 '06037206201',
 '72055961200',
 '36047002300',
 '36047011800',
 '72061040800',
 '36047079201',
 '21145030100',
 '06037231220',
 '04013093104',
 '28083950100',
 '72127003300',
 '47157022025',
 '32031001019',
 '01073010605',
 '06037209403',
 '72127980107',
 '72039955900',
 '42021013400',
 '36005037900',
 '48215020505',
 '25025010300',
 '26049002300',
 '06037224010',
 '72071410704',
 '72127005103',
 '72123952600',
 '17031710100',
 '72099420401',
 '39035121200',
 '36081049201',
 '39113003403',
 '36005016900',
 ...]

In [21]:
m = folium.Map(location=[40, -95], zoom_start=4, prefer_canvas=True)

folium.Choropleth(
    geo_data=tracts,
    name="choropleth",
    data=spreads[~spreads['census_string'].isin(low_apps)],
    columns=["census_string", "rate_spread"],
    key_on="feature.properties.GEOID",
    fill_color="PuBu",
    fill_opacity=0.7,
    nan_fill_opacity = 0,
    line_opacity=.01,
    legend_name="Loan Amount",
    bins=[-4,-1,-0.5,0,0.5,1,2,3,8]
).add_to(m)

folium.LayerControl().add_to(m)

m.save('../maps/rate_spread.html')

In [18]:
spreads[~spreads['census_string'].isin(low_apps)].sort_values('rate_spread',ascending=True)

      census_string  rate_spread
42213   28083950800       -3.710
42012   28049010902       -3.580
41968   28049000900       -2.820
42250   28089030112       -2.760
50472   36047045300       -2.285
...             ...          ...
83903   78010970300          NaN
83912   78030960400          NaN
83913   78030960700          NaN
83914   78030961100          NaN
83915   78030961200          NaN

[82091 rows x 2 columns]

In [19]:
applications[applications['census_string'] == '26099247100']

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
1148629,1465640,549300JD1162QW84ZO34,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Female,3,0,2,1,1,1,2,2,25000,89.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,NaN,2,2,2,2,25000,1,23.0,46,2,10,1,1,45-54,6,1,3.0,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
3364806,4091238,5493002Z4GZF8C2F3T27,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,1,0,2,1,1,1,2,2,25000,NaN,9.0,4.401,NaN,9999.0,NaN,NaN,NaN,240,NaN,2,2,2,2,25000,1,50.0,20%-<30%,1,10,2,2,45-54,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
3870074,4868406,549300CB67L6KPJLHE19,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,3,0,2,1,1,1,2,2,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240,NaN,2,2,2,2,25000,1,60.0,30%-<36%,8,10,2,2,35-44,6,3,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
3870202,4868536,549300CB67L6KPJLHE19,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Joint,3,0,2,1,1,1,2,2,55000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240,NaN,2,2,2,2,55000,1,29.0,>60%,8,9,2,2,>74,6,9,1.0,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
3889800,4888205,549300CB67L6KPJLHE19,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,Race Not Available,Male,2,0,2,1,1,1,2,2,35000,NaN,8.35,4.510,NaN,NaN,NaN,NaN,NaN,240,NaN,2,2,2,2,45000,1,48.0,30%-<36%,8,10,2,2,35-44,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
4806185,5959474,549300SKTBTC2QFDKG02,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,White,Male,2,0,2,1,1,1,2,2,15000,82.85,6.0,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN,2,2,2,2,15000,1,35.0,39,8,10,2,2,35-44,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6385357,8115786,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,White,Male,4,0,2,1,1,1,2,2,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN,2,2,2,2,NaN,1,60.0,NaN,9,9,2,2,55-64,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6407943,8138906,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,3,0,2,1,1,1,2,2,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,276,NaN,2,2,2,2,NaN,1,NaN,NaN,9,10,2,2,45-54,6,7,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6441044,8172871,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,White,Male,4,0,2,1,1,1,2,2,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN,2,2,2,2,NaN,1,60.0,NaN,9,9,2,2,55-64,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6441640,8173489,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,Black or African American,Female,3,0,2,1,1,1,2,2,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN,2,2,2,2,25000,1,18.0,>60%,4,10,2,2,45-54,6,1,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6454765,8187659,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,White,Male,1,0,2,1,1,1,2,2,15000,NaN,9.2,7.195,NaN,1077.0,NaN,NaN,NaN,144,NaN,2,2,2,2,15000,1,50.0,40,4,9,2,2,55-64,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6456973,8189999,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,1,0,2,1,1,1,2,2,15000,NaN,9.8,7.786,NaN,1077.0,NaN,NaN,NaN,144,NaN,2,2,2,2,25000,1,60.0,30%-<36%,4,10,2,2,35-44,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6463807,8197205,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,Race Not Available,Sex Not Available,1,0,2,1,1,1,2,2,15000,NaN,9.5,7.232,NaN,772.71,NaN,NaN,NaN,144,NaN,2,2,2,2,15000,1,60.0,20%-<30%,4,9,2,2,55-64,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6506804,8241643,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Joint,5,0,2,1,1,1,2,2,55000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161,NaN,2,2,2,2,NaN,1,63.0,NaN,9,9,2,2,>74,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
6513153,8248251,549300XQVJ1XBNFA5536,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,Race Not Available,Joint,5,0,2,1,1,1,2,2,35000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,NaN,2,2,2,2,NaN,1,47.0,NaN,9,9,2,2,25-34,6,10,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
12793412,15752488,549300W4FT4H1UWPGU95,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,3,0,2,1,1,1,2,2,15000,84.061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN,2,2,2,2,25000,1,92.0,<20%,9,9,1,2,55-64,6,3,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
12793426,15752502,549300W4FT4H1UWPGU95,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,3,0,2,1,1,1,2,2,15000,78.386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN,2,2,2,2,25000,1,60.0,46,9,10,2,2,35-44,6,3,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
12793461,15752537,549300W4FT4H1UWPGU95,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Joint,3,0,2,1,1,1,2,2,55000,87.988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,NaN,2,2,2,2,55000,1,82.0,37,9,9,2,2,>74,6,3,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100
12793623,15752699,549300W4FT4H1UWPGU95,47664,MI,2.609925e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Joint,3,0,2,1,1,1,2,2,35000,87.341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,NaN,2,2,2,2,45000,1,47.0,43,9,9,2,2,25-34,6,3,NaN,NaN,NaN,833,30.37,102800,0.0,283,436,38,26099247100

In [20]:
applications[~applications['rate_spread'].isna()]['census_string'].value_counts().reset_index()

      census_string  count
0                 n  13988
1       48157673202   1961
2       48029172002   1811
3       45015020711   1708
4       48201542902   1593
...             ...    ...
83411   19169001102      1
83412   26163553800      1
83413   30035940200      1
83414   48201432006      1
83415   40109980001      1

[83416 rows x 2 columns]

In [24]:
m = folium.Map(location=[40, -95], zoom_start=4, prefer_canvas=True)

folium.Choropleth(
    geo_data=tracts,
    name="choropleth",
    data=applications[applications['census_string'] != 'n'].groupby('census_string')['lei'].nunique().reset_index(),
    columns=["census_string", "lei"],
    key_on="feature.properties.GEOID",
    fill_color="PuBu",
    fill_opacity=0.7,
    nan_fill_opacity = 0,
    line_opacity=.01,
    legend_name="Loan Amount",
    bins=10
).add_to(m)

folium.LayerControl().add_to(m)

m.save('../maps/institution_count.html')