In [1]:
import pandas as pd
import numpy as np

In [2]:
fixed_rates = pd.read_csv('../data/YieldTableFixed.txt',sep='|')
fixed_rates = fixed_rates.loc[260:312]
fixed_rates

,Term of Loan in Years,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
260,12/27/2021,3.13,3.12,2.96,2.96,2.53,2.53,2.66,2.66,2.70,...,3.10,3.10,3.10,3.10,3.10,3.10,3.10,3.10,3.10,3.10
261,1/3/2022,3.13,3.12,3.02,3.02,2.61,2.61,2.72,2.72,2.75,...,3.17,3.17,3.17,3.17,3.17,3.17,3.17,3.17,3.17,3.17
262,1/10/2022,3.14,3.11,3.01,3.01,2.61,2.61,2.75,2.75,2.79,...,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28,3.28
263,1/17/2022,3.14,3.09,3.09,3.09,2.69,2.69,2.84,2.84,2.88,...,3.51,3.51,3.51,3.51,3.51,3.51,3.51,3.51,3.51,3.51
264,1/24/2022,3.14,3.12,3.12,3.12,2.72,2.72,2.85,2.85,2.87,...,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62
265,1/31/2022,3.14,3.12,3.07,3.07,2.78,2.78,2.92,2.92,2.95,...,3.61,3.61,3.61,3.61,3.61,3.61,3.61,3.61,3.61,3.61
266,2/7/2022,3.21,3.19,3.17,3.17,2.83,2.83,2.93,2.93,2.94,...,3.61,3.61,3.61,3.61,3.61,3.61,3.61,3.61,3.61,3.61
267,2/14/2022,3.23,3.25,3.26,3.26,2.92,2.92,3.00,3.00,3.00,...,3.76,3.76,3.76,3.76,3.76,3.76,3.76,3.76,3.76,3.76
268,2/21/2022,3.29,3.38,3.42,3.42,3.10,3.10,3.16,3.16,3.15,...,3.99,3.99,3.99,3.99,3.99,3.99,3.99,3.99,3.99,3.99
269,2/28/2022,3.30,3.36,3.40,3.40,3.10,3.10,3.16,3.16,3.14,...,3.96,3.96,3.96,3.96,3.96,3.96,3.96,3.96,3.96,3.96
270,3/7/2022,3.29,3.37,3.38,3.38,3.03,3.03,3.10,3.10,3.10,...,3.83,3.83,3.83,3.83,3.83,3.83,3.83,3.83,3.83,3.83
271,3/14/2022,3.29,3.46,3.46,3.46,3.09,3.09,3.12,3.12,3.10,...,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92,3.92
272,3/21/2022,3.33,3.59,3.56,3.56,3.27,3.27,3.30,3.30,3.26,...,4.23,4.23,4.23,4.23,4.23,4.23,4.23,4.23,4.23,4.23
273,3/28/2022,3.38,3.73,3.81,3.81,3.48,3.48,3.48,3.48,3.41,...,4.49,4.49,4.49,4.49,4.49,4.49,4.49,4.49,4.49,4.49
274,4/4/2022,3.38,3.79,3.91,3.91,3.62,3.62,3.59,3.59,3.48,...,4.74,4.74,4.74,4.74,4.74,4.74,4.74,4.74,4.74,4.74
275,4/11/2022,3.55,3.96,4.03,4.03,3.68,3.68,3.62,3.62,3.49,...,4.79,4.79,4.79,4.79,4.79,4.79,4.79,4.79,4.79,4.79
276,4/18/2022,3.54,3.89,4.01,4.01,3.81,3.81,3.84,3.84,3.79,...,5.07,5.07,5.07,5.07,5.07,5.07,5.07,5.07,5.07,5.07
277,4/25/2022,3.60,3.97,4.07,4.07,3.87,3.87,3.87,3.87,3.83,...,5.18,5.18,5.18,5.18,5.18,5.18,5.18,5.18,5.18,5.18
278,5/2/2022,3.65,3.97,4.08,4.08,3.90,3.90,3.89,3.89,3.83,...,5.17,5.17,5.17,5.17,5.17,5.17,5.17,5.17,5.17,5.17
279,5/9/2022,3.65,4.03,4.12,4.12,4.04,4.04,4.05,4.05,3.98,...,5.35,5.35,5.35,5.35,5.35,5.35,5.35,5.35,5.35,5.35
280,5/16/2022,3.79,4.16,4.25,4.25,4.10,4.10,4.14,4.14,4.10,...,5.38,5.38,5.38,5.38,5.38,5.38,5.38,5.38,5.38,5.38
281,5/23/2022,3.77,4.11,4.19,4.19,4.16,4.16,4.18,4.18,4.15,...,5.33,5.33,5.33,5.33,5.33,5.33,5.33,5.33,5.33,5.33
282,5/30/2022,3.77,4.12,4.29,4.29,4.32,4.32,4.33,4.33,4.27,...,5.18,5.18,5.18,5.18,5.18,5.18,5.18,5.18,5.18,5.18
283,6/6/2022,3.80,4.07,4.22,4.22,4.16,4.16,4.18,4.18,4.12,...,5.16,5.16,5.16,5.16,5.16,5.16,5.16,5.16,5.16,5.16
284,6/13/2022,3.85,4.14,4.30,4.30,4.24,4.24,4.25,4.25,4.18,...,5.31,5.31,5.31,5.31,5.31,5.31,5.31,5.31,5.31,5.31
285,6/20/2022,3.87,4.14,4.36,4.36,4.45,4.45,4.41,4.41,4.29,...,5.86,5.86,5.86,5.86,5.86,5.86,5.86,5.86,5.86,5.86
286,6/27/2022,3.95,4.16,4.40,4.40,4.53,4.53,4.52,4.52,4.41,...,5.88,5.88,5.88,5.88,5.88,5.88,5.88,5.88,5.88,5.88
287,7/4/2022,4.07,4.22,4.44,4.44,4.62,4.62,4.62,4.62,4.52,...,5.78,5.78,5.78,5.78,5.78,5.78,5.78,5.78,5.78,5.78
288,7/11/2022,4.03,4.16,4.19,4.19,4.35,4.35,4.35,4.35,4.27,...,5.37,5.37,5.37,5.37,5.37,5.37,5.37,5.37,5.37,5.37
289,7/18/2022,4.07,4.08,4.20,4.20,4.43,4.43,4.40,4.40,4.31,...,5.58,5.58,5.58,5.58,5.58,5.58,5.58,5.58,5.58,5.58
290,7/25/2022,4.09,4.13,4.28,4.28,4.43,4.43,4.37,4.37,4.24,...,5.61,5.61,5.61,5.61,5.61,5.61,5.61,5.61,5.61,5.61
291,8/1/2022,4.09,4.06,4.22,4.22,4.41,4.41,4.38,4.38,4.28,...,5.37,5.37,5.37,5.37,5.37,5.37,5.37,5.37,5.37,5.37
292,8/8/2022,4.05,4.03,4.20,4.20,4.37,4.37,4.31,4.31,4.21,...,5.06,5.06,5.06,5.06,5.06,5.06,5.06,5.06,5.06,5.06
293,8/15/2022,3.95,4.01,4.12,4.12,4.43,4.43,4.36,4.36,4.27,...,5.28,5.28,5.28,5.28,5.28,5.28,5.28,5.28,5.28,5.28
294,8/22/2022,4.00,4.08,4.30,4.30,4.51,4.51,4.43,4.43,4.31,...,5.20,5.20,5.20,5.20,5.20,5.20,5.20,5.20,5.20,5.20
295,8/29/2022,4.03,4.16,4.33,4.33,4.52,4.52,4.45,4.45,4.33,...,5.62,5.62,5.62,5.62,5.62,5.62,5.62,5.62,5.62,5.62
296,9/5/2022,4.08,4.22,4.40,4.40,4.67,4.67,4.58,4.58,4.45,...,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73
297,9/12/2022,4.08,4.16,4.40,4.40,4.80,4.80,4.74,4.74,4.63,...,5.95,5.95,5.95,5.95,5.95,5.95,5.95,5.95,5.95,5.95
298,9/19/2022,4.09,4.14,4.46,4.46,5.01,5.01,4.94,4.94,4.82,...,6.09,6.09,6.09,6.09,6.09,6.09,6.09,6.09,6.09,6.09
299,9/26/2022,4.34,4.52,4.72,4.72,5.13,5.13,5.01,5.01,4.85,...,6.38,6.38,6.38,6.38,6.38,6.38,6.38,6.38,6.38,6.38
300,10/3/2022,4.60,4.89,5.16,5.16,5.47,5.47,5.34,5.34,5.16,...,6.79,6.79,6.79,6.79,6.79,6.79,6.79,6.79,6.79,6.79
301,10/10/2022,4.45,4.81,5.06,5.06,5.48,5.48,5.35,5.35,5.21,...,6.74,6.74,6.74,6.74,6.74,6.74,6.74,6.74,6.74,6.74
302,10/17/2022,4.65,4.95,5.36,5.36,5.89,5.89,5.79,5.79,5.64,...,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00
303,10/24/2022,4.95,5.17,5.43,5.43,5.88,5.88,5.74,5.74,5.59,...,7.03,7.03,7.03,7.03,7.03,7.03,7.03,7.03,7.03,7.03
304,10/31/2022,4.81,5.09,5.46,5.46,6.08,6.08,5.98,5.98,5.89,...,7.16,7.16,7.16,7.16,7.16,7.16,7.16,7.16,7.16,7.16
305,11/7/2022,5.10,5.18,5.46,5.46,6.03,6.03,5.92,5.92,5.80,...,7.03,7.03,7.03,7.03,7.03,7.03,7.03,7.03,7.03,7.03
306,11/14/2022,5.31,5.43,5.65,5.65,6.14,6.14,6.04,6.04,5.94,...,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17,7.17
307,11/21/2022,5.37,5.35,5.38,5.38,5.70,5.70,5.60,5.60,5.48,...,6.64,6.64,6.64,6.64,6.64,6.64,6.64,6.64,6.64,6.64
308,11/28/2022,5.37,5.34,5.38,5.38,5.68,5.68,5.57,5.57,5.44,...,6.63,6.63,6.63,6.63,6.63,6.63,6.63,6.63,6.63,6.63
309,12/5/2022,5.34,5.29,5.32,5.32,5.66,5.66,5.54,5.54,5.42,...,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47
310,12/12/2022,5.35,5.17,5.20,5.20,5.55,5.55,5.44,5.44,5.30,...,6.37,6.37,6.37,6.37,6.37,6.37,6.37,6.37,6.37,6.37
311,12/19/2022,5.34,5.20,5.18,5.18,5.53,5.53,5.42,5.42,5.29,...,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25,6.25
312,12/26/2022,5.07,5.04,5.15,5.15,5.56,5.56,5.49,5.49,5.37,...,6.28,6.28,6.28,6.28,6.28,6.28,6.28,6.28,6.28,6.28

In [3]:
adj_rates = pd.read_csv('../data/YieldTableAdjustable.txt',sep='|')
adj_rates = adj_rates.loc[260:312]
adj_rates

,Years to First Adjustment,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
260,12/27/2021,3.03,3.03,3.00,3.00,2.84,2.84,2.84,2.84,2.82,...,2.82,2.82,2.82,2.82,2.82,2.82,2.82,2.82,2.82,2.82
261,1/3/2022,3.12,3.11,3.08,3.08,2.92,2.92,2.91,2.91,2.88,...,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88
262,1/10/2022,3.15,3.13,3.10,3.10,2.94,2.94,2.94,2.94,2.91,...,2.91,2.91,2.91,2.91,2.91,2.91,2.91,2.91,2.91,2.91
263,1/17/2022,3.21,3.20,3.18,3.18,3.02,3.02,3.03,3.03,3.00,...,3.00,3.00,3.00,3.00,3.00,3.00,3.00,3.00,3.00,3.00
264,1/24/2022,3.31,3.29,3.27,3.27,3.10,3.10,3.09,3.09,3.04,...,3.04,3.04,3.04,3.04,3.04,3.04,3.04,3.04,3.04,3.04
265,1/31/2022,3.37,3.34,3.31,3.31,3.17,3.17,3.16,3.16,3.12,...,3.12,3.12,3.12,3.12,3.12,3.12,3.12,3.12,3.12,3.12
266,2/7/2022,3.49,3.47,3.43,3.43,3.27,3.27,3.24,3.24,3.16,...,3.16,3.16,3.16,3.16,3.16,3.16,3.16,3.16,3.16,3.16
267,2/14/2022,3.61,3.58,3.55,3.55,3.38,3.38,3.33,3.33,3.24,...,3.24,3.24,3.24,3.24,3.24,3.24,3.24,3.24,3.24,3.24
268,2/21/2022,3.81,3.78,3.75,3.75,3.57,3.57,3.52,3.52,3.42,...,3.42,3.42,3.42,3.42,3.42,3.42,3.42,3.42,3.42,3.42
269,2/28/2022,3.87,3.83,3.79,3.79,3.61,3.61,3.55,3.55,3.43,...,3.43,3.43,3.43,3.43,3.43,3.43,3.43,3.43,3.43,3.43
270,3/7/2022,3.70,3.68,3.65,3.65,3.47,3.47,3.43,3.43,3.34,...,3.34,3.34,3.34,3.34,3.34,3.34,3.34,3.34,3.34,3.34
271,3/14/2022,3.81,3.79,3.76,3.76,3.57,3.57,3.50,3.50,3.39,...,3.39,3.39,3.39,3.39,3.39,3.39,3.39,3.39,3.39,3.39
272,3/21/2022,3.99,3.97,3.93,3.93,3.76,3.76,3.69,3.69,3.56,...,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56
273,3/28/2022,4.18,4.16,4.14,4.14,3.96,3.96,3.87,3.87,3.72,...,3.72,3.72,3.72,3.72,3.72,3.72,3.72,3.72,3.72,3.72
274,4/4/2022,4.33,4.31,4.29,4.29,4.11,4.11,4.01,4.01,3.83,...,3.83,3.83,3.83,3.83,3.83,3.83,3.83,3.83,3.83,3.83
275,4/11/2022,4.43,4.42,4.39,4.39,4.19,4.19,4.07,4.07,3.87,...,3.87,3.87,3.87,3.87,3.87,3.87,3.87,3.87,3.87,3.87
276,4/18/2022,4.46,4.44,4.41,4.41,4.26,4.26,4.19,4.19,4.07,...,4.07,4.07,4.07,4.07,4.07,4.07,4.07,4.07,4.07,4.07
277,4/25/2022,4.56,4.54,4.50,4.50,4.35,4.35,4.26,4.26,4.13,...,4.13,4.13,4.13,4.13,4.13,4.13,4.13,4.13,4.13,4.13
278,5/2/2022,4.65,4.62,4.58,4.58,4.42,4.42,4.32,4.32,4.17,...,4.17,4.17,4.17,4.17,4.17,4.17,4.17,4.17,4.17,4.17
279,5/9/2022,4.75,4.72,4.68,4.68,4.55,4.55,4.46,4.46,4.30,...,4.30,4.30,4.30,4.30,4.30,4.30,4.30,4.30,4.30,4.30
280,5/16/2022,4.66,4.64,4.61,4.61,4.49,4.49,4.44,4.44,4.33,...,4.33,4.33,4.33,4.33,4.33,4.33,4.33,4.33,4.33,4.33
281,5/23/2022,4.77,4.74,4.70,4.70,4.60,4.60,4.53,4.53,4.42,...,4.42,4.42,4.42,4.42,4.42,4.42,4.42,4.42,4.42,4.42
282,5/30/2022,4.69,4.67,4.65,4.65,4.60,4.60,4.55,4.55,4.45,...,4.45,4.45,4.45,4.45,4.45,4.45,4.45,4.45,4.45,4.45
283,6/6/2022,4.77,4.72,4.70,4.70,4.59,4.59,4.52,4.52,4.39,...,4.39,4.39,4.39,4.39,4.39,4.39,4.39,4.39,4.39,4.39
284,6/13/2022,4.89,4.84,4.81,4.81,4.70,4.70,4.62,4.62,4.47,...,4.47,4.47,4.47,4.47,4.47,4.47,4.47,4.47,4.47,4.47
285,6/20/2022,5.56,5.46,5.38,5.38,5.24,5.24,5.07,5.07,4.81,...,4.81,4.81,4.81,4.81,4.81,4.81,4.81,4.81,4.81,4.81
286,6/27/2022,5.45,5.35,5.30,5.30,5.19,5.19,5.06,5.06,4.84,...,4.84,4.84,4.84,4.84,4.84,4.84,4.84,4.84,4.84,4.84
287,7/4/2022,5.48,5.38,5.32,5.32,5.23,5.23,5.12,5.12,4.91,...,4.91,4.91,4.91,4.91,4.91,4.91,4.91,4.91,4.91,4.91
288,7/11/2022,5.40,5.30,5.20,5.20,5.08,5.08,4.94,4.94,4.72,...,4.72,4.72,4.72,4.72,4.72,4.72,4.72,4.72,4.72,4.72
289,7/18/2022,5.66,5.52,5.42,5.42,5.29,5.29,5.12,5.12,4.86,...,4.86,4.86,4.86,4.86,4.86,4.86,4.86,4.86,4.86,4.86
290,7/25/2022,5.73,5.59,5.49,5.49,5.33,5.33,5.14,5.14,4.84,...,4.84,4.84,4.84,4.84,4.84,4.84,4.84,4.84,4.84,4.84
291,8/1/2022,5.63,5.48,5.39,5.39,5.25,5.25,5.08,5.08,4.82,...,4.82,4.82,4.82,4.82,4.82,4.82,4.82,4.82,4.82,4.82
292,8/8/2022,5.65,5.50,5.40,5.40,5.26,5.26,5.06,5.06,4.79,...,4.79,4.79,4.79,4.79,4.79,4.79,4.79,4.79,4.79,4.79
293,8/15/2022,5.85,5.69,5.57,5.57,5.44,5.44,5.22,5.22,4.92,...,4.92,4.92,4.92,4.92,4.92,4.92,4.92,4.92,4.92,4.92
294,8/22/2022,5.81,5.66,5.56,5.56,5.42,5.42,5.21,5.21,4.92,...,4.92,4.92,4.92,4.92,4.92,4.92,4.92,4.92,4.92,4.92
295,8/29/2022,5.87,5.72,5.62,5.62,5.46,5.46,5.25,5.25,4.95,...,4.95,4.95,4.95,4.95,4.95,4.95,4.95,4.95,4.95,4.95
296,9/5/2022,6.01,5.85,5.75,5.75,5.60,5.60,5.38,5.38,5.07,...,5.07,5.07,5.07,5.07,5.07,5.07,5.07,5.07,5.07,5.07
297,9/12/2022,6.14,5.96,5.85,5.85,5.74,5.74,5.53,5.53,5.23,...,5.23,5.23,5.23,5.23,5.23,5.23,5.23,5.23,5.23,5.23
298,9/19/2022,6.36,6.16,6.06,6.06,5.98,5.98,5.76,5.76,5.45,...,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45,5.45
299,9/26/2022,6.56,6.38,6.25,6.25,6.12,6.12,5.87,5.87,5.52,...,5.52,5.52,5.52,5.52,5.52,5.52,5.52,5.52,5.52,5.52
300,10/3/2022,6.63,6.49,6.40,6.40,6.28,6.28,6.06,6.06,5.74,...,5.74,5.74,5.74,5.74,5.74,5.74,5.74,5.74,5.74,5.74
301,10/10/2022,6.60,6.46,6.37,6.37,6.29,6.29,6.07,6.07,5.77,...,5.77,5.77,5.77,5.77,5.77,5.77,5.77,5.77,5.77,5.77
302,10/17/2022,6.78,6.64,6.58,6.58,6.56,6.56,6.38,6.38,6.11,...,6.11,6.11,6.11,6.11,6.11,6.11,6.11,6.11,6.11,6.11
303,10/24/2022,7.02,6.87,6.77,6.77,6.69,6.69,6.46,6.46,6.15,...,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15
304,10/31/2022,7.06,6.90,6.82,6.82,6.81,6.81,6.61,6.61,6.36,...,6.36,6.36,6.36,6.36,6.36,6.36,6.36,6.36,6.36,6.36
305,11/7/2022,7.23,7.04,6.93,6.93,6.88,6.88,6.65,6.65,6.36,...,6.36,6.36,6.36,6.36,6.36,6.36,6.36,6.36,6.36,6.36
306,11/14/2022,7.29,7.12,7.01,7.01,6.95,6.95,6.74,6.74,6.47,...,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47
307,11/21/2022,7.16,6.98,6.83,6.83,6.67,6.67,6.44,6.44,6.11,...,6.11,6.11,6.11,6.11,6.11,6.11,6.11,6.11,6.11,6.11
308,11/28/2022,7.29,7.09,6.93,6.93,6.75,6.75,6.49,6.49,6.14,...,6.14,6.14,6.14,6.14,6.14,6.14,6.14,6.14,6.14,6.14
309,12/5/2022,7.28,7.08,6.91,6.91,6.73,6.73,6.47,6.47,6.12,...,6.12,6.12,6.12,6.12,6.12,6.12,6.12,6.12,6.12,6.12
310,12/12/2022,7.25,7.03,6.86,6.86,6.68,6.68,6.41,6.41,6.04,...,6.04,6.04,6.04,6.04,6.04,6.04,6.04,6.04,6.04,6.04
311,12/19/2022,7.21,7.00,6.82,6.82,6.64,6.64,6.38,6.38,6.01,...,6.01,6.01,6.01,6.01,6.01,6.01,6.01,6.01,6.01,6.01
312,12/26/2022,7.13,6.92,6.77,6.77,6.62,6.62,6.38,6.38,6.04,...,6.04,6.04,6.04,6.04,6.04,6.04,6.04,6.04,6.04,6.04

In [4]:
applications = pd.read_csv('../data/pruned_data.csv', low_memory=False, nrows = 200000)
applications

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,...,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,...,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,...,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14
2,2,RVDPPPGHCGZ40J4VQ731,40900,CA,6.017030e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,...,NaN,NaN,NaN,2703,39.92,102400,60.0,478,1631,51
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,...,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42
4,4,RVDPPPGHCGZ40J4VQ731,12580,MD,2.451015e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,...,NaN,NaN,NaN,3249,92.34,116100,38.0,444,1500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,252817,549300MGPZBLQDIL7538,23844,IN,1.808904e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,2 or more minority races,...,NaN,NaN,NaN,6630,31.30,85100,116.0,2008,2498,56
199996,252818,549300MGPZBLQDIL7538,46520,HI,1.500301e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,...,NaN,NaN,NaN,4988,91.72,113300,110.0,919,1319,23
199997,252819,549300MGPZBLQDIL7538,33460,MN,2.712304e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,...,NaN,NaN,NaN,4449,14.43,117800,132.0,1330,1285,76
199998,252820,549300MGPZBLQDIL7538,33660,AL,1.129044e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,...,NaN,NaN,NaN,3610,64.13,68000,118.0,1142,1943,35
199999,252821,549300MGPZBLQDIL7538,41180,MO,2.918331e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,...,NaN,NaN,NaN,4317,12.35,96800,130.0,1526,1629,36

In [5]:
applications = applications[['interest_rate','rate_spread','loan_term','intro_rate_period']]
applications

        interest_rate rate_spread  loan_term  intro_rate_period
0               6.500      -0.034      360.0                NaN
1               6.750       0.847      360.0                NaN
2                 NaN         NaN      360.0                NaN
3               7.125        1.48      360.0                NaN
4                 NaN         NaN      360.0                NaN
...               ...         ...        ...                ...
199995          3.750       0.473      360.0                NaN
199996          5.750      -0.829      360.0                NaN
199997          6.625       0.726      360.0                NaN
199998          4.250       1.289      360.0                NaN
199999          6.625      -0.018      360.0                NaN

[200000 rows x 4 columns]

In [6]:
for col in applications.columns[:-1]:
    applications = applications[(applications[col].notna()) & (applications[col] != 'Exempt')]
applications

        interest_rate rate_spread  loan_term  intro_rate_period
0               6.500      -0.034      360.0                NaN
1               6.750       0.847      360.0                NaN
3               7.125        1.48      360.0                NaN
6               6.375      -0.126      360.0                NaN
7               7.375        0.59      360.0                NaN
...               ...         ...        ...                ...
199995          3.750       0.473      360.0                NaN
199996          5.750      -0.829      360.0                NaN
199997          6.625       0.726      360.0                NaN
199998          4.250       1.289      360.0                NaN
199999          6.625      -0.018      360.0                NaN

[128357 rows x 4 columns]

In [7]:
for col in applications.columns:
    applications[col] = applications[col].astype(float)
applications

        interest_rate  rate_spread  loan_term  intro_rate_period
0               6.500       -0.034      360.0                NaN
1               6.750        0.847      360.0                NaN
3               7.125        1.480      360.0                NaN
6               6.375       -0.126      360.0                NaN
7               7.375        0.590      360.0                NaN
...               ...          ...        ...                ...
199995          3.750        0.473      360.0                NaN
199996          5.750       -0.829      360.0                NaN
199997          6.625        0.726      360.0                NaN
199998          4.250        1.289      360.0                NaN
199999          6.625       -0.018      360.0                NaN

[128357 rows x 4 columns]

In [8]:
applications['prime_rate'] = round(applications['interest_rate'] - applications['rate_spread'],2)
applications

        interest_rate  rate_spread  loan_term  intro_rate_period  prime_rate
0               6.500       -0.034      360.0                NaN        6.53
1               6.750        0.847      360.0                NaN        5.90
3               7.125        1.480      360.0                NaN        5.64
6               6.375       -0.126      360.0                NaN        6.50
7               7.375        0.590      360.0                NaN        6.78
...               ...          ...        ...                ...         ...
199995          3.750        0.473      360.0                NaN        3.28
199996          5.750       -0.829      360.0                NaN        6.58
199997          6.625        0.726      360.0                NaN        5.90
199998          4.250        1.289      360.0                NaN        2.96
199999          6.625       -0.018      360.0                NaN        6.64

[128357 rows x 5 columns]

In [9]:
applications['min_diff'] = np.nan

In [10]:
def years_term(num):
    years, months = divmod(num,12)
    if months > 6:
        return int(years+1)
    elif years == 0:
        return int(years+1)
    else:
        return int(years)

In [15]:
for ind, row in applications.iterrows():
    if np.isnan(row['intro_rate_period']):
        applications.loc[ind,'min_diff'] = min([abs(row['prime_rate']-rate) for rate in fixed_rates[str(years_term(row['loan_term']))]])
    else:
        applications.loc[ind,'min_diff'] = min([abs(row['prime_rate']-rate) for rate in adj_rates[str(years_term(row['intro_rate_period']))]])

In [16]:
applications.sort_values('min_diff', ascending=False)

,interest_rate,rate_spread,loan_term,intro_rate_period,prime_rate,min_diff
28553,6.125,-5.210,120.0,NaN,11.34,5.40
21959,2.990,5.485,360.0,60.0,-2.50,5.34
21985,2.990,5.492,360.0,60.0,-2.50,5.34
22103,2.990,5.289,360.0,60.0,-2.30,5.14
22042,2.990,5.275,360.0,60.0,-2.28,5.12
...,...,...,...,...,...,...
30777,5.250,0.185,360.0,NaN,5.07,0.00
164280,3.875,0.262,360.0,NaN,3.61,0.00
164278,4.750,0.922,360.0,NaN,3.83,0.00
164270,3.375,0.274,360.0,NaN,3.10,0.00
199999,6.625,-0.018,360.0,NaN,6.64,0.00

In [18]:
applications[applications['min_diff']<.1]

,interest_rate,rate_spread,loan_term,intro_rate_period,prime_rate,min_diff
0,6.500,-0.034,360.0,NaN,6.53,0.06
1,6.750,0.847,360.0,NaN,5.90,0.02
3,7.125,1.480,360.0,NaN,5.64,0.02
6,6.375,-0.126,360.0,NaN,6.50,0.03
7,7.375,0.590,360.0,NaN,6.78,0.01
...,...,...,...,...,...,...
199993,6.375,-0.223,360.0,NaN,6.60,0.03
199995,3.750,0.473,360.0,NaN,3.28,0.00
199996,5.750,-0.829,360.0,NaN,6.58,0.05
199997,6.625,0.726,360.0,NaN,5.90,0.02
199999,6.625,-0.018,360.0,NaN,6.64,0.00