In [1]:
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import folium

%matplotlib inline
pd.set_option('display.max_columns', 500)

In [2]:
applications = pd.read_csv('../data/pruned_data.csv', low_memory=False)
applications

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,0,2,1,1,1,2,2,215000,97.0,6.5,-0.034,7436.14,NaN,4336.0,NaN,2703.37,360,NaN,2,2,2,2,225000,1,59.0,42,2,10,2,2,25-34,1,10,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,1,2,2,2,1,1,2,2,445000,92.74,6.75,0.847,16155.19,NaN,4290.4,3276.4,NaN,360,NaN,2,2,2,2,475000,1,202.0,46,9,2,2,2,45-54,3,10,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14
2,2,RVDPPPGHCGZ40J4VQ731,40900,CA,6.017030e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,1,1,1,2,2,235000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,138.0,NaN,9,9,2,2,35-44,6,10,NaN,NaN,NaN,2703,39.92,102400,60.0,478,1631,51
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,2,2,2,1,1,2,2,425000,91.47,7.125,1.48,22789.69,NaN,11771.13,NaN,5624.46,360,NaN,2,2,2,2,455000,1,150.0,46,3,10,2,2,45-54,3,10,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42
4,4,RVDPPPGHCGZ40J4VQ731,12580,MD,2.451015e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Female,4,0,2,2,1,1,2,2,205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,75.0,NaN,9,9,2,2,35-44,3,10,NaN,NaN,NaN,3249,92.34,116100,38.0,444,1500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12974034,16080204,RVDPPPGHCGZ40J4VQ731,38060,AZ,4.013422e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,1,2,2,2,1,1,2,2,295000,96.5,6.125,0.414,15055.59,NaN,5856.47,5856.47,NaN,360,NaN,2,2,2,2,305000,1,61.0,42,3,10,2,2,25-34,3,10,NaN,NaN,NaN,3994,85.80,88800,53.0,430,1296,50
12974035,16080205,RVDPPPGHCGZ40J4VQ731,12060,GA,1.311713e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,1,2,1,1,1,2,2,645000,88.12,6.25,-0.492,9355.98,NaN,4990.25,NaN,3857.1,360,60,2,2,2,2,735000,1,201.0,39,1,10,2,2,35-44,1,10,NaN,NaN,NaN,4745,34.77,95700,166.0,1380,1497,17
12974036,16080206,RVDPPPGHCGZ40J4VQ731,29820,NV,3.200300e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,3,0,2,2,1,1,2,2,275000,96.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,285000,1,58.0,50%-60%,3,10,2,2,35-44,3,9,NaN,NaN,NaN,5249,84.82,81700,50.0,388,1007,36
12974037,16080207,RVDPPPGHCGZ40J4VQ731,39340,UT,4.904901e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,2,2,2,32,1,2,2,515000,78.81,6.125,0.049,21662.07,NaN,9852.87,1080.94,NaN,360,NaN,2,2,2,2,645000,1,140.0,50%-60%,9,3,2,2,25-34,3,10,NaN,NaN,NaN,5884,15.89,96000,110.0,1188,1327,20
12974038,16080208,RVDPPPGHCGZ40J4VQ731,29820,NV,3.200300e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Male,3,0,2,1,32,1,2,2,325000,74.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,435000,1,94.0,49,9,10,2,2,25-34,6,7,NaN,NaN,NaN,6749,66.14,81700,105.0,1022,2223,16

In [3]:
applications['census_string'] = [str(tract)[:-2] for tract in applications['census_tract']]
applications['census_string'] = ['0'+ tract if len(tract) == 10 else tract for tract in applications['census_string']]
applications.head()

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,0,2,1,1,1,2,2,215000,97.0,6.5,-0.034,7436.14,NaN,4336.0,NaN,2703.37,360,NaN,2,2,2,2,225000,1,59.0,42,2,10,2,2,25-34,1,10,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28,48201552502
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,1,2,2,2,1,1,2,2,445000,92.74,6.75,0.847,16155.19,NaN,4290.4,3276.4,NaN,360,NaN,2,2,2,2,475000,1,202.0,46,9,2,2,2,45-54,3,10,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,48085031314
2,2,RVDPPPGHCGZ40J4VQ731,40900,CA,6.017030e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,1,1,1,2,2,235000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,138.0,NaN,9,9,2,2,35-44,6,10,NaN,NaN,NaN,2703,39.92,102400,60.0,478,1631,51,06017030301
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,2,2,2,1,1,2,2,425000,91.47,7.125,1.48,22789.69,NaN,11771.13,NaN,5624.46,360,NaN,2,2,2,2,455000,1,150.0,46,3,10,2,2,45-54,3,10,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42,09013538202
4,4,RVDPPPGHCGZ40J4VQ731,12580,MD,2.451015e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Female,4,0,2,2,1,1,2,2,205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN,2,2,2,2,NaN,1,75.0,NaN,9,9,2,2,35-44,3,10,NaN,NaN,NaN,3249,92.34,116100,38.0,444,1500,0,24510150400

In [4]:
applications.groupby('census_string')['lei'].nunique().sort_values().reset_index()

      census_string   lei
0       66010953200     1
1       42101980001     1
2       56021980801     1
3       42101980300     1
4       06065940100     1
...             ...   ...
83912   48473680100   272
83913   48201542902   279
83914   48085030307   284
83915   48157673202   308
83916             n  1095

[83917 rows x 2 columns]

In [5]:
len(applications[applications['census_string'] == '48157673202']['lei'].unique())

308

In [6]:
inst_count = applications[applications['census_string'] != 'n'].groupby('census_string')['lei'].nunique().reset_index()
inst_count

      census_string  lei
0       01001020100   41
1       01001020200   27
2       01001020300   46
3       01001020400   53
4       01001020501   55
...             ...  ...
83911   78030960200    2
83912   78030960400    1
83913   78030960700    1
83914   78030961100    1
83915   78030961200    1

[83916 rows x 2 columns]