In [1]:
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import folium
import numpy as np

%matplotlib inline
pd.set_option('display.max_columns', 500)

In [2]:
applications = pd.read_csv('../data/pruned_data2.csv', low_memory=False, dtype={'census_string':'str'})
applications

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,0,2,1,1,1,2,2,215000,97.00,6.500,-0.034,7436.14,NaN,4336.0,NaN,2703.37,360.0,NaN,2,2,2,2,225000.0,1,59.0,42,2,10,2,2,25-34,1,10,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28,48201552502
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,1,2,2,2,1,1,2,2,445000,92.74,6.750,0.847,16155.19,NaN,4290.4,3276.4,NaN,360.0,NaN,2,2,2,2,475000.0,1,202.0,46,9,2,2,2,45-54,3,10,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,48085031314
2,2,RVDPPPGHCGZ40J4VQ731,40900,CA,6.017030e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,1,1,1,2,2,235000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,NaN,2,2,2,2,NaN,1,138.0,NaN,9,9,2,2,35-44,6,10,NaN,NaN,NaN,2703,39.92,102400,60.0,478,1631,51,06017030301
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,2,2,2,1,1,2,2,425000,91.47,7.125,1.480,22789.69,NaN,11771.13,NaN,5624.46,360.0,NaN,2,2,2,2,455000.0,1,150.0,46,3,10,2,2,45-54,3,10,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42,09013538202
4,4,RVDPPPGHCGZ40J4VQ731,12580,MD,2.451015e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Female,4,0,2,2,1,1,2,2,205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,NaN,2,2,2,2,NaN,1,75.0,NaN,9,9,2,2,35-44,3,10,NaN,NaN,NaN,3249,92.34,116100,38.0,444,1500,0,24510150400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13087559,16080204,RVDPPPGHCGZ40J4VQ731,38060,AZ,4.013422e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,1,2,2,2,1,1,2,2,295000,96.50,6.125,0.414,15055.59,NaN,5856.47,5856.47,NaN,360.0,NaN,2,2,2,2,305000.0,1,61.0,42,3,10,2,2,25-34,3,10,NaN,NaN,NaN,3994,85.80,88800,53.0,430,1296,50,04013422001
13087560,16080205,RVDPPPGHCGZ40J4VQ731,12060,GA,1.311713e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,1,2,1,1,1,2,2,645000,88.12,6.250,-0.492,9355.98,NaN,4990.25,NaN,3857.10,360.0,60.0,2,2,2,2,735000.0,1,201.0,39,1,10,2,2,35-44,1,10,NaN,NaN,NaN,4745,34.77,95700,166.0,1380,1497,17,13117130605
13087561,16080206,RVDPPPGHCGZ40J4VQ731,29820,NV,3.200300e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,3,0,2,2,1,1,2,2,275000,96.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,NaN,2,2,2,2,285000.0,1,58.0,50%-60%,3,10,2,2,35-44,3,9,NaN,NaN,NaN,5249,84.82,81700,50.0,388,1007,36,32003001901
13087562,16080207,RVDPPPGHCGZ40J4VQ731,39340,UT,4.904901e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,2,2,2,32,1,2,2,515000,78.81,6.125,0.049,21662.07,NaN,9852.87,1080.94,NaN,360.0,NaN,2,2,2,2,645000.0,1,140.0,50%-60%,9,3,2,2,25-34,3,10,NaN,NaN,NaN,5884,15.89,96000,110.0,1188,1327,20,49049010600
13087563,16080208,RVDPPPGHCGZ40J4VQ731,29820,NV,3.200300e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Male,3,0,2,1,32,1,2,2,325000,74.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,NaN,2,2,2,2,435000.0,1,94.0,49,9,10,2,2,25-34,6,7,NaN,NaN,NaN,6749,66.14,81700,105.0,1022,2223,16,32003002842

In [3]:
approved = applications[applications['action_taken'].isin([1,2])]
approved

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,0,2,1,1,1,2,2,215000,97.00,6.500,-0.034,7436.14,NaN,4336.0,NaN,2703.37,360.0,NaN,2,2,2,2,225000.0,1,59.0,42,2,10,2,2,25-34,1,10,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28,48201552502
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,1,2,2,2,1,1,2,2,445000,92.74,6.750,0.847,16155.19,NaN,4290.4,3276.4,NaN,360.0,NaN,2,2,2,2,475000.0,1,202.0,46,9,2,2,2,45-54,3,10,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,48085031314
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,2,2,2,1,1,2,2,425000,91.47,7.125,1.480,22789.69,NaN,11771.13,NaN,5624.46,360.0,NaN,2,2,2,2,455000.0,1,150.0,46,3,10,2,2,45-54,3,10,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42,09013538202
6,6,RVDPPPGHCGZ40J4VQ731,15804,NJ,3.400760e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Joint,1,0,2,1,1,1,2,2,85000,80.00,6.375,-0.126,5541.36,NaN,3321.14,81.84,NaN,360.0,NaN,2,2,2,2,115000.0,1,68.0,49,9,1,2,2,>74,1,10,NaN,NaN,NaN,7573,38.57,112900,97.0,1955,1865,57,34007603400
7,7,RVDPPPGHCGZ40J4VQ731,22744,FL,1.201111e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,3,2,1,1,1,2,2,455000,87.62,7.375,0.590,6712.94,NaN,1024.51,NaN,1673.31,360.0,NaN,2,2,2,2,515000.0,1,133.0,45,9,3,2,2,45-54,1,10,NaN,NaN,NaN,5249,95.64,82100,99.0,1470,1682,54,12011110502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13087557,16080202,RVDPPPGHCGZ40J4VQ731,12580,MD,2.401351e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,1,2,2,2,1,1,2,2,255000,90.00,6.750,0.878,14295.03,NaN,7145.83,NaN,3490.37,360.0,NaN,2,2,2,2,275000.0,1,106.0,42,9,2,2,2,35-44,3,10,NaN,NaN,NaN,7778,12.01,116100,93.0,2577,2807,35,24013508103
13087558,16080203,RVDPPPGHCGZ40J4VQ731,22220,AR,5.007021e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Joint,1,1,2,1,1,1,2,2,555000,81.00,6.375,-0.487,8545.23,NaN,5937.86,NaN,4599.00,360.0,60.0,2,2,2,2,685000.0,1,277.0,30%-<36%,9,2,2,2,35-44,1,10,NaN,NaN,NaN,4625,20.24,83700,289.0,1220,1520,17,05007021306
13087559,16080204,RVDPPPGHCGZ40J4VQ731,38060,AZ,4.013422e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,1,2,2,2,1,1,2,2,295000,96.50,6.125,0.414,15055.59,NaN,5856.47,5856.47,NaN,360.0,NaN,2,2,2,2,305000.0,1,61.0,42,3,10,2,2,25-34,3,10,NaN,NaN,NaN,3994,85.80,88800,53.0,430,1296,50,04013422001
13087560,16080205,RVDPPPGHCGZ40J4VQ731,12060,GA,1.311713e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,1,2,1,1,1,2,2,645000,88.12,6.250,-0.492,9355.98,NaN,4990.25,NaN,3857.10,360.0,60.0,2,2,2,2,735000.0,1,201.0,39,1,10,2,2,35-44,1,10,NaN,NaN,NaN,4745,34.77,95700,166.0,1380,1497,17,13117130605
13087562,16080207,RVDPPPGHCGZ40J4VQ731,39340,UT,4.904901e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,2,2,2,32,1,2,2,515000,78.81,6.125,0.049,21662.07,NaN,9852.87,1080.94,NaN,360.0,NaN,2,2,2,2,645000.0,1,140.0,50%-60%,9,3,2,2,25-34,3,10,NaN,NaN,NaN,5884,15.89,96000,110.0,1188,1327,20,49049010600

In [4]:
applications[applications['action_taken'].isin([1,2])].value_counts('lei').head(50)

lei
549300FGXN1K3HLB1R50    471738
549300HW662MN1WU8550    324026
549300AG64NHILB7ZP05    148100
KB1H1DSPRFMYMCUFXT09    141787
549300MGPZBLQDIL7538    120921
6BYL5QZYBDK8S7L73M02    118120
AD6GFRVSDT01YPT1CS68    109435
B4TYDEB6GKMZO031MB27    108532
7H6GLXDRUGQFU57RNE97    105045
DRMSV1Q0EKMEXLAU1P80    101703
549300VZVN841I2ILS84     92118
549300J7XKT2BI5WX213     84607
549300DD4R4SYK5RAQ92     80741
549300DD5QQUHO6PCH70     80244
549300U3721PJGQZYY68     76135
5493003GQDUH26DNNH17     74601
RVDPPPGHCGZ40J4VQ731     73138
549300LBCBNR1OT00651     72319
JJKC32MCHWDI71265Z06     71596
549300LYRWPSYPK6S325     68931
2WHM8VNJH63UN14OL754     67392
549300AQ3T62GXDU7D76     61950
SS1TRMSN6BRNMOREEV51     61039
549300BRJZYHYKT4BJ84     60989
5493001SXWZ4OFP8Z903     58323
QFROUN1UWUYU0DVIWD51     51053
EQTWLK1G7ODGC2MGLV11     48020
549300E2UX99HKDBR481     47071
549300VORTI31GZTJL53     45406
549300SHE1JTCOWBP090     43808
549300121SF0K2LN2804     43366
549300YIQ7S7Z8PIHE53     41890
549300GKFNPRWNS0GF29     39303
549300H3IZO24NSOO931     37471
549300FNXYY540N23N64     35578
549300CB67L6KPJLHE19     34176
HUX2X73FUCYHUVH1BK78     33571
254900UL88QFG0E40516     33166
03D0JEWFDFUS0SEEKG89     31855
5493008CPTDVOS570626     31612
549300MXJA09WZJ0DV55     31433
549300XWUSRVVOHPRY47     31120
5493001WHVQBGRSWEU75     30169
254900ZFWS2106HWPH46     27449
549300XQVJ1XBNFA5536     27343
5493005PKOSG7MYX0B34     26851
WWB2V0FCW3A0EE3ZJN75     26609
549300KIOYNU323LVJ37     25876
549300FX7K8PTEQUU487     25535
549300PIL8LFAQ04XC20     24548
dtype: int64

In [5]:
applications[applications['action_taken'].isin([1,2])].value_counts(['census_string','lei']).head(50)

census_string  lei
12119911301    549300IQVXIW1VTW0D69    1048
12119910300    549300IQVXIW1VTW0D69     924
48121020116    5493001SXWZ4OFP8Z903     642
48085031007    5493001SXWZ4OFP8Z903     548
48231961401    5493001SXWZ4OFP8Z903     517
12057014007    549300H3IZO24NSOO931     447
48029182105    5493001SXWZ4OFP8Z903     438
48157673202    5493001SXWZ4OFP8Z903     420
15003008627    5493001SXWZ4OFP8Z903     358
45015020711    5493001SXWZ4OFP8Z903     349
48201542202    5493001SXWZ4OFP8Z903     325
06037920339    549300H3IZO24NSOO931     315
48029161902    5493001SXWZ4OFP8Z903     300
               549300H3IZO24NSOO931     288
12109020904    549300TYV7NDBX6FUR63     283
48085031201    5493001SXWZ4OFP8Z903     283
48157674506    5493001SXWZ4OFP8Z903     281
04021001712    5493001SXWZ4OFP8Z903     279
48141010369    549300CEKZ808Q0WJL95     275
12033003603    5493001SXWZ4OFP8Z903     275
49049010124    5493001SXWZ4OFP8Z903     274
48121020319    5493001SXWZ4OFP8Z903     265
48339690502    5493001SXWZ4OFP8Z903     257
32003003662    5493001SXWZ4OFP8Z903     256
48121020320    5493001SXWZ4OFP8Z903     251
12099007850    5493005JPZ3LXXMB0S24     248
48339692802    549300H3IZO24NSOO931     245
12101032108    5493001SXWZ4OFP8Z903     245
24017851502    549300H3IZO24NSOO931     241
48139060704    5493001SXWZ4OFP8Z903     238
32003003229    5493007VW2EU20PZYU97     237
04013040516    5493004WMLN60ZJ2ON46     237
22103040807    5493001SXWZ4OFP8Z903     235
12081002020    549300H3IZO24NSOO931     235
48209010402    5493001SXWZ4OFP8Z903     235
48085030202    549300H3IZO24NSOO931     234
12101032103    549300H3IZO24NSOO931     232
48029172002    5493001SXWZ4OFP8Z903     232
48085031008    549300H3IZO24NSOO931     231
08041005122    6GK3WNTSHBNJOVP1LV97     230
48339692702    5493001SXWZ4OFP8Z903     230
48121020123    5493004WMLN60ZJ2ON46     229
48029172006    5493001SXWZ4OFP8Z903     227
48439114109    5493001SXWZ4OFP8Z903     225
08001008354    5493002OVIWOKVJME308     224
48291700302    549300XQVJ1XBNFA5536     222
08041007603    6GK3WNTSHBNJOVP1LV97     221
48085030518    549300XWUSRVVOHPRY47     219
04013040540    5493007VW2EU20PZYU97     217
12081001916    5493004WMLN60ZJ2ON46     215
dtype: int64

In [6]:
applications[applications['action_taken'].isin([1,2])].groupby('lei')['loan_amount'].sum().sort_values(ascending=False).head(50)

lei
549300FGXN1K3HLB1R50    130088870000
549300HW662MN1WU8550    120600300000
KB1H1DSPRFMYMCUFXT09     66013165000
7H6GLXDRUGQFU57RNE97     50546025000
549300AG64NHILB7ZP05     50404030000
B4TYDEB6GKMZO031MB27     49658700000
6BYL5QZYBDK8S7L73M02     39908580000
549300MGPZBLQDIL7538     39000355000
549300VZVN841I2ILS84     33428960000
YWC0TIKBQM2JV8L4IV08     31906590000
549300U3721PJGQZYY68     29399705000
549300J7XKT2BI5WX213     28995445000
AD6GFRVSDT01YPT1CS68     28261905000
549300DD4R4SYK5RAQ92     25977135000
DRMSV1Q0EKMEXLAU1P80     24716755000
549300DD5QQUHO6PCH70     24068890000
549300BRJZYHYKT4BJ84     22225825000
RVDPPPGHCGZ40J4VQ731     21442940000
E57ODZWZ7FF32TWEFA76     19847310000
5493001SXWZ4OFP8Z903     19822735000
549300AQ3T62GXDU7D76     19365230000
549300LYRWPSYPK6S325     18696635000
5493003GQDUH26DNNH17     18693335000
JJKC32MCHWDI71265Z06     17704560000
549300LBCBNR1OT00651     17587115000
SS1TRMSN6BRNMOREEV51     17516735000
549300GS0W0TEUQS8571     15772665000
549300E2UX99HKDBR481     14203665000
549300H3IZO24NSOO931     14121485000
2WHM8VNJH63UN14OL754     13722290000
549300GKFNPRWNS0GF29     13607375000
549300VORTI31GZTJL53     13293620000
549300121SF0K2LN2804     13207160000
549300MXJA09WZJ0DV55     12770905000
549300YIQ7S7Z8PIHE53     12479570000
5493001WHVQBGRSWEU75     11248575000
HUX2X73FUCYHUVH1BK78     11201465000
03D0JEWFDFUS0SEEKG89     10387195000
549300KIOYNU323LVJ37      9874090000
8WH0EE09O9V05QJZ3V89      9816795000
5493005PKOSG7MYX0B34      9515665000
254900ZFWS2106HWPH46      9453155000
EQTWLK1G7ODGC2MGLV11      9449200000
549300XWUSRVVOHPRY47      9433410000
OX3PU53ZLPQKJ4700D47      9409160000
549300FNXYY540N23N64      8699480000
QFROUN1UWUYU0DVIWD51      8347655000
54930001NSTOD85LT125      8090950000
549300XY701IELCE5Q08      7755275000
549300SHE1JTCOWBP090      7717160000
Name: loan_amount, dtype: int64

In [7]:
tracts = gpd.read_file('../data/tract.json')
ct_tracts = pd.read_csv('../data/2022tractcrosswalk.csv', usecols=[0,1])
ct_tracts['tract_fips_2020'] = ['0' + str(tract) for tract in ct_tracts['tract_fips_2020']]
ct_tracts['Tract_fips_2022'] = ['0' + str(tract) for tract in ct_tracts['Tract_fips_2022']]
tract_mapping = {row['Tract_fips_2022']:row['tract_fips_2020'] for ind, row in ct_tracts.iterrows()}
tracts['GEOID'] = tracts['GEOID'].replace(tract_mapping)
tracts

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,NAMELSAD,STUSPS,NAMELSADCO,STATE_NAME,LSAD,ALAND,AWATER,geometry
0,01,097,006505,1400000US01097006505,01097006505,65.05,Census Tract 65.05,AL,Mobile County,Alabama,CT,94686529,501122,"POLYGON ((-88.40601 30.58976, -88.38573 30.615..."
1,05,131,001202,1400000US05131001202,05131001202,12.02,Census Tract 12.02,AR,Sebastian County,Arkansas,CT,4381207,34047,"POLYGON ((-94.43277 35.33941, -94.39136 35.338..."
2,06,059,099511,1400000US06059099511,06059099511,995.11,Census Tract 995.11,CA,Orange County,California,CT,944442,1356526,"POLYGON ((-118.11464 33.74461, -118.11305 33.7..."
3,06,037,620904,1400000US06037620904,06037620904,6209.04,Census Tract 6209.04,CA,Los Angeles County,California,CT,576178,413509,"POLYGON ((-118.41269 33.88388, -118.40768 33.8..."
4,06,001,428500,1400000US06001428500,06001428500,4285,Census Tract 4285,CA,Alameda County,California,CT,624197,383522,"POLYGON ((-122.26360 37.76743, -122.25575 37.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85188,37,159,051502,1400000US37159051502,37159051502,515.02,Census Tract 515.02,NC,Rowan County,North Carolina,CT,13653797,602104,"POLYGON ((-80.69609 35.50581, -80.65807 35.546..."
85189,06,065,042802,1400000US06065042802,06065042802,428.02,Census Tract 428.02,CA,Riverside County,California,CT,3156976,0,"POLYGON ((-117.24372 33.78334, -117.23477 33.7..."
85190,48,423,001102,1400000US48423001102,48423001102,11.02,Census Tract 11.02,TX,Smith County,Texas,CT,2774447,679,"POLYGON ((-95.30362 32.31181, -95.27895 32.312..."
85191,36,015,000500,1400000US36015000500,36015000500,5,Census Tract 5,NY,Chemung County,New York,CT,1493597,50755,"POLYGON ((-76.83284 42.08993, -76.82248 42.096..."
85192,42,003,562800,1400000US42003562800,42003562800,5628,Census Tract 5628,PA,Allegheny County,Pennsylvania,CT,1776466,0,"POLYGON ((-80.08554 40.42384, -80.06858 40.431..."

In [8]:
tracts.to_file('../data/ctfixedtracts.json', driver='GeoJSON')

In [9]:
tractdata = applications.groupby('census_string')[['loan_amount',
                                                   'combined_loan_to_value_ratio',
                                                   'interest_rate','rate_spread',
                                                   'total_loan_costs',
                                                   'property_value',
                                                   'income',
                                                   'tract_population',
                                                   'tract_minority_population_percent',
                                                   'ffiec_msa_md_median_family_income',
                                                   'tract_to_msa_income_percentage',
                                                   'tract_owner_occupied_units',
                                                   'tract_one_to_four_family_homes',
                                                   'tract_median_age_of_housing_units']].median().reset_index()
tractdata['tract_income'] = tractdata['ffiec_msa_md_median_family_income'] * tractdata['tract_to_msa_income_percentage']/100

In [10]:
tractdata = tractdata.merge(approved.groupby('census_string')['lei'].nunique().reset_index(), how='left', on='census_string')
tractdata = tractdata.rename({'lei':'lei_count'}, axis=1)
tractdata

,census_string,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,property_value,income,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,tract_income,lei_count
0,01001020100,185000.0,90.000,5.250,0.403,4424.50,250000.0,70.0,1775.0,22.48,75500.0,104.0,507.0,710.0,40.0,78520.0,26.0
1,01001020200,135000.0,80.000,5.250,0.719,3866.38,175000.0,57.0,2055.0,59.42,75500.0,74.0,392.0,717.0,48.0,55870.0,17.0
2,01001020300,145000.0,95.000,4.750,0.348,3434.56,165000.0,58.0,3216.0,30.97,75500.0,103.0,967.0,1401.0,44.0,77765.0,38.0
3,01001020400,145000.0,90.000,5.125,0.543,3952.37,175000.0,69.0,4246.0,17.05,75500.0,111.0,1290.0,1598.0,48.0,83805.0,45.0
4,01001020501,215000.0,94.680,4.750,0.478,5469.80,255000.0,85.0,4322.0,25.71,75500.0,133.0,1024.0,1659.0,29.0,100415.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83946,78030960200,510000.0,68.095,4.250,0.428,11308.00,710000.0,101.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,1.0
83947,78030960400,95000.0,41.757,NaN,NaN,NaN,2005000.0,178.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN
83948,78030960700,565000.0,NaN,NaN,NaN,NaN,NaN,973.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN
83949,78030961100,55000.0,19.000,NaN,NaN,NaN,305000.0,55.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN
83950,78030961200,545000.0,80.000,NaN,NaN,NaN,685000.0,192.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN

In [11]:
tractdata = tractdata.merge(approved.groupby('census_string')['lei'].count().reset_index(), how='left', on='census_string')
tractdata = tractdata.rename({'lei':'loan_count'}, axis=1)
tractdata = tractdata.merge(applications.groupby('census_string')['lei'].count().reset_index(), how='left', on='census_string')
tractdata = tractdata.rename({'lei':'app_count'}, axis=1)
tractdata['approval_rate'] = 100 * tractdata['loan_count'] / tractdata['app_count']
tractdata

,census_string,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,property_value,income,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,tract_income,lei_count,loan_count,app_count,approval_rate
0,01001020100,185000.0,90.000,5.250,0.403,4424.50,250000.0,70.0,1775.0,22.48,75500.0,104.0,507.0,710.0,40.0,78520.0,26.0,47.0,80,58.750000
1,01001020200,135000.0,80.000,5.250,0.719,3866.38,175000.0,57.0,2055.0,59.42,75500.0,74.0,392.0,717.0,48.0,55870.0,17.0,33.0,56,58.928571
2,01001020300,145000.0,95.000,4.750,0.348,3434.56,165000.0,58.0,3216.0,30.97,75500.0,103.0,967.0,1401.0,44.0,77765.0,38.0,97.0,147,65.986395
3,01001020400,145000.0,90.000,5.125,0.543,3952.37,175000.0,69.0,4246.0,17.05,75500.0,111.0,1290.0,1598.0,48.0,83805.0,45.0,140.0,200,70.000000
4,01001020501,215000.0,94.680,4.750,0.478,5469.80,255000.0,85.0,4322.0,25.71,75500.0,133.0,1024.0,1659.0,29.0,100415.0,45.0,205.0,270,75.925926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83946,78030960200,510000.0,68.095,4.250,0.428,11308.00,710000.0,101.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,1.0,1.0,2,50.000000
83947,78030960400,95000.0,41.757,NaN,NaN,NaN,2005000.0,178.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN
83948,78030960700,565000.0,NaN,NaN,NaN,NaN,NaN,973.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,2,NaN
83949,78030961100,55000.0,19.000,NaN,NaN,NaN,305000.0,55.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN
83950,78030961200,545000.0,80.000,NaN,NaN,NaN,685000.0,192.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN

In [12]:
tractdata['loan_per_lei'] = tractdata['loan_count'] / tractdata['lei_count']
tractdata['loan_per_person'] = tractdata['loan_count'] / tractdata['tract_population']
tractdata['loan_cost_percent'] = tractdata['total_loan_costs'] / tractdata['loan_amount']
tractdata

,census_string,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,property_value,income,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,tract_income,lei_count,loan_count,app_count,approval_rate,loan_per_lei,loan_per_person,loan_cost_percent
0,01001020100,185000.0,90.000,5.250,0.403,4424.50,250000.0,70.0,1775.0,22.48,75500.0,104.0,507.0,710.0,40.0,78520.0,26.0,47.0,80,58.750000,1.807692,0.026479,0.023916
1,01001020200,135000.0,80.000,5.250,0.719,3866.38,175000.0,57.0,2055.0,59.42,75500.0,74.0,392.0,717.0,48.0,55870.0,17.0,33.0,56,58.928571,1.941176,0.016058,0.028640
2,01001020300,145000.0,95.000,4.750,0.348,3434.56,165000.0,58.0,3216.0,30.97,75500.0,103.0,967.0,1401.0,44.0,77765.0,38.0,97.0,147,65.986395,2.552632,0.030162,0.023687
3,01001020400,145000.0,90.000,5.125,0.543,3952.37,175000.0,69.0,4246.0,17.05,75500.0,111.0,1290.0,1598.0,48.0,83805.0,45.0,140.0,200,70.000000,3.111111,0.032972,0.027258
4,01001020501,215000.0,94.680,4.750,0.478,5469.80,255000.0,85.0,4322.0,25.71,75500.0,133.0,1024.0,1659.0,29.0,100415.0,45.0,205.0,270,75.925926,4.555556,0.047432,0.025441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83946,78030960200,510000.0,68.095,4.250,0.428,11308.00,710000.0,101.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,1.0,1.0,2,50.000000,1.000000,inf,0.022173
83947,78030960400,95000.0,41.757,NaN,NaN,NaN,2005000.0,178.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN
83948,78030960700,565000.0,NaN,NaN,NaN,NaN,NaN,973.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,2,NaN,NaN,NaN,NaN
83949,78030961100,55000.0,19.000,NaN,NaN,NaN,305000.0,55.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN
83950,78030961200,545000.0,80.000,NaN,NaN,NaN,685000.0,192.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN

In [13]:
tractdata = tractdata.replace(np.inf,np.nan)
tractdata

,census_string,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,property_value,income,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,tract_income,lei_count,loan_count,app_count,approval_rate,loan_per_lei,loan_per_person,loan_cost_percent
0,01001020100,185000.0,90.000,5.250,0.403,4424.50,250000.0,70.0,1775.0,22.48,75500.0,104.0,507.0,710.0,40.0,78520.0,26.0,47.0,80,58.750000,1.807692,0.026479,0.023916
1,01001020200,135000.0,80.000,5.250,0.719,3866.38,175000.0,57.0,2055.0,59.42,75500.0,74.0,392.0,717.0,48.0,55870.0,17.0,33.0,56,58.928571,1.941176,0.016058,0.028640
2,01001020300,145000.0,95.000,4.750,0.348,3434.56,165000.0,58.0,3216.0,30.97,75500.0,103.0,967.0,1401.0,44.0,77765.0,38.0,97.0,147,65.986395,2.552632,0.030162,0.023687
3,01001020400,145000.0,90.000,5.125,0.543,3952.37,175000.0,69.0,4246.0,17.05,75500.0,111.0,1290.0,1598.0,48.0,83805.0,45.0,140.0,200,70.000000,3.111111,0.032972,0.027258
4,01001020501,215000.0,94.680,4.750,0.478,5469.80,255000.0,85.0,4322.0,25.71,75500.0,133.0,1024.0,1659.0,29.0,100415.0,45.0,205.0,270,75.925926,4.555556,0.047432,0.025441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83946,78030960200,510000.0,68.095,4.250,0.428,11308.00,710000.0,101.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,1.0,1.0,2,50.000000,1.000000,NaN,0.022173
83947,78030960400,95000.0,41.757,NaN,NaN,NaN,2005000.0,178.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN
83948,78030960700,565000.0,NaN,NaN,NaN,NaN,NaN,973.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,2,NaN,NaN,NaN,NaN
83949,78030961100,55000.0,19.000,NaN,NaN,NaN,305000.0,55.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN
83950,78030961200,545000.0,80.000,NaN,NaN,NaN,685000.0,192.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN

In [14]:
fixed = approved[(approved['intro_rate_period'].isna()) & (approved['loan_term'] >= 60)]
fixed

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
0,0,RVDPPPGHCGZ40J4VQ731,26420,TX,4.820155e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,0,2,1,1,1,2,2,215000,97.00,6.500,-0.034,7436.14,NaN,4336.0,NaN,2703.37,360.0,NaN,2,2,2,2,225000.0,1,59.0,42,2,10,2,2,25-34,1,10,NaN,NaN,NaN,6907,71.83,90800,80.0,1409,2002,28,48201552502
1,1,RVDPPPGHCGZ40J4VQ731,19124,TX,4.808503e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,1,2,2,2,1,1,2,2,445000,92.74,6.750,0.847,16155.19,NaN,4290.4,3276.4,NaN,360.0,NaN,2,2,2,2,475000.0,1,202.0,46,9,2,2,2,45-54,3,10,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,48085031314
3,3,RVDPPPGHCGZ40J4VQ731,25540,CT,9.013538e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,2,2,2,1,1,2,2,425000,91.47,7.125,1.480,22789.69,NaN,11771.13,NaN,5624.46,360.0,NaN,2,2,2,2,455000.0,1,150.0,46,3,10,2,2,45-54,3,10,NaN,NaN,NaN,3948,8.61,113200,121.0,1271,1507,42,09013538202
6,6,RVDPPPGHCGZ40J4VQ731,15804,NJ,3.400760e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Joint,1,0,2,1,1,1,2,2,85000,80.00,6.375,-0.126,5541.36,NaN,3321.14,81.84,NaN,360.0,NaN,2,2,2,2,115000.0,1,68.0,49,9,1,2,2,>74,1,10,NaN,NaN,NaN,7573,38.57,112900,97.0,1955,1865,57,34007603400
7,7,RVDPPPGHCGZ40J4VQ731,22744,FL,1.201111e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,3,2,1,1,1,2,2,455000,87.62,7.375,0.590,6712.94,NaN,1024.51,NaN,1673.31,360.0,NaN,2,2,2,2,515000.0,1,133.0,45,9,3,2,2,45-54,1,10,NaN,NaN,NaN,5249,95.64,82100,99.0,1470,1682,54,12011110502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13087554,16080199,RVDPPPGHCGZ40J4VQ731,99999,VA,5.100109e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Race Not Available,Joint,1,2,2,3,1,1,2,2,385000,100.00,6.500,-0.411,3695.14,NaN,1643.95,1643.95,NaN,360.0,NaN,2,2,2,2,385000.0,1,129.0,30%-<36%,2,9,2,2,25-34,1,10,NaN,NaN,NaN,3046,46.36,67800,74.0,614,1326,45,51001090202
13087555,16080200,RVDPPPGHCGZ40J4VQ731,31084,CA,6.037920e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,1,3,2,1,1,1,2,2,105000,25.74,6.500,-0.142,4606.84,NaN,1088.0,NaN,71.00,360.0,NaN,2,2,2,2,385000.0,1,47.0,42,2,10,2,2,>74,1,10,NaN,NaN,NaN,4850,49.63,91100,115.0,1922,2009,36,06037920031
13087557,16080202,RVDPPPGHCGZ40J4VQ731,12580,MD,2.401351e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,1,2,2,2,1,1,2,2,255000,90.00,6.750,0.878,14295.03,NaN,7145.83,NaN,3490.37,360.0,NaN,2,2,2,2,275000.0,1,106.0,42,9,2,2,2,35-44,3,10,NaN,NaN,NaN,7778,12.01,116100,93.0,2577,2807,35,24013508103
13087559,16080204,RVDPPPGHCGZ40J4VQ731,38060,AZ,4.013422e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,1,2,2,2,1,1,2,2,295000,96.50,6.125,0.414,15055.59,NaN,5856.47,5856.47,NaN,360.0,NaN,2,2,2,2,305000.0,1,61.0,42,3,10,2,2,25-34,3,10,NaN,NaN,NaN,3994,85.80,88800,53.0,430,1296,50,04013422001
13087562,16080207,RVDPPPGHCGZ40J4VQ731,39340,UT,4.904901e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,2,2,2,32,1,2,2,515000,78.81,6.125,0.049,21662.07,NaN,9852.87,1080.94,NaN,360.0,NaN,2,2,2,2,645000.0,1,140.0,50%-60%,9,3,2,2,25-34,3,10,NaN,NaN,NaN,5884,15.89,96000,110.0,1188,1327,20,49049010600

In [15]:
tractdata = tractdata.merge(fixed.groupby('census_string')['rate_spread'].median().reset_index(), how='left', on='census_string',suffixes=['_all','_fixed'])
tractdata

,census_string,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread_all,total_loan_costs,property_value,income,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,tract_income,lei_count,loan_count,app_count,approval_rate,loan_per_lei,loan_per_person,loan_cost_percent,rate_spread_fixed
0,01001020100,185000.0,90.000,5.250,0.403,4424.50,250000.0,70.0,1775.0,22.48,75500.0,104.0,507.0,710.0,40.0,78520.0,26.0,47.0,80,58.750000,1.807692,0.026479,0.023916,0.4270
1,01001020200,135000.0,80.000,5.250,0.719,3866.38,175000.0,57.0,2055.0,59.42,75500.0,74.0,392.0,717.0,48.0,55870.0,17.0,33.0,56,58.928571,1.941176,0.016058,0.028640,0.5890
2,01001020300,145000.0,95.000,4.750,0.348,3434.56,165000.0,58.0,3216.0,30.97,75500.0,103.0,967.0,1401.0,44.0,77765.0,38.0,97.0,147,65.986395,2.552632,0.030162,0.023687,0.2905
3,01001020400,145000.0,90.000,5.125,0.543,3952.37,175000.0,69.0,4246.0,17.05,75500.0,111.0,1290.0,1598.0,48.0,83805.0,45.0,140.0,200,70.000000,3.111111,0.032972,0.027258,0.6415
4,01001020501,215000.0,94.680,4.750,0.478,5469.80,255000.0,85.0,4322.0,25.71,75500.0,133.0,1024.0,1659.0,29.0,100415.0,45.0,205.0,270,75.925926,4.555556,0.047432,0.025441,0.4730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83946,78030960200,510000.0,68.095,4.250,0.428,11308.00,710000.0,101.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,1.0,1.0,2,50.000000,1.000000,NaN,0.022173,0.4280
83947,78030960400,95000.0,41.757,NaN,NaN,NaN,2005000.0,178.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
83948,78030960700,565000.0,NaN,NaN,NaN,NaN,NaN,973.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
83949,78030961100,55000.0,19.000,NaN,NaN,NaN,305000.0,55.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
83950,78030961200,545000.0,80.000,NaN,NaN,NaN,685000.0,192.0,0.0,0.00,66400.0,0.0,0.0,0.0,-1.0,0.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

In [16]:
tractdata.to_csv('../data/tractdata.csv')

In [17]:
tractdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83951 entries, 0 to 83950
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   census_string                      83951 non-null  object
 1   loan_amount                        83951 non-null  float64
 2   combined_loan_to_value_ratio       83715 non-null  float64
 3   interest_rate                      83482 non-null  float64
 4   rate_spread_all                    83430 non-null  float64
 5   total_loan_costs                   83280 non-null  float64
 6   property_value                     83781 non-null  float64
 7   income                             83939 non-null  float64
 8   tract_population                   83951 non-null  float64
 9   tract_minority_population_percent  83951 non-null  float64
 10  ffiec_msa_md_median_family_income  83951 non-null  float64
 11  tract_to_msa_income_percentage     83951 non-null  float64
 12  tract_owner_occupied_units         83951 non-null  float64
 13  tract_one_to_four_family_homes     83951 non-null  float64
 14  tract_median_age_of_housing_units  83951 non-null  float64
 15  tract_income                       83951 non-null  float64
 16  lei_count                          83489 non-null  float64
 17  loan_count                         83489 non-null  float64
 18  app_count                          83951 non-null  int64
 19  approval_rate                      83489 non-null  float64
 20  loan_per_lei                       83489 non-null  float64
 21  loan_per_person                    83413 non-null  float64
 22  loan_cost_percent                  83280 non-null  float64
 23  rate_spread_fixed                  83308 non-null  float64
dtypes: float64(22), int64(1), object(1)
memory usage: 16.0+ MB

In [24]:
approved[approved['census_string'].isin(['1803000501','26049011401','26049012003',
                                         '26055551302','26075005601','26081011403',
                                         '26099263600','26115831201','26163564900']) 
         & (approved['derived_dwelling_category'] == 'Single Family (1-4 Units):Manufactured')]

,Unnamed: 0,lei,derived_msa_md,state_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,total_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_observed,applicant_race_observed,applicant_age,aus_1,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,census_string
36460,71900,549300E3X7YDJIUENL65,19804,MI,2.616356e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Hispanic or Latino,White,Male,1,0,2,1,1,1,2,2,35000,NaN,7.25,4.942,NaN,999.0,NaN,NaN,NaN,144.0,NaN,2,2,2,2,45000.0,1,45.0,38,8,10,2,2,<25,6,10,NaN,NaN,NaN,2557,40.24,72800,53.0,520,776,24,26163564900
36588,72044,549300E3X7YDJIUENL65,27100,MI,2.607501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,Black or African American,Female,1,0,2,1,1,1,2,2,75000,NaN,6.25,3.230,NaN,799.0,NaN,NaN,NaN,240.0,NaN,2,2,2,2,85000.0,1,54.0,39,8,10,2,2,35-44,6,10,NaN,NaN,NaN,5241,22.93,84300,71.0,788,1383,26,26075005601
36620,72076,549300E3X7YDJIUENL65,24340,MI,2.608101e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Female,1,0,2,1,1,1,2,2,25000,NaN,5.75,2.674,NaN,999.0,NaN,NaN,NaN,240.0,NaN,2,2,2,2,45000.0,1,38.0,38,8,10,2,2,25-34,6,10,NaN,NaN,NaN,3084,19.49,88900,112.0,852,1148,31,26081011403
36701,72164,549300E3X7YDJIUENL65,19804,MI,2.616356e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,Race Not Available,Male,2,0,2,1,1,1,2,2,65000,NaN,6.50,2.782,NaN,NaN,NaN,NaN,NaN,240.0,NaN,2,2,2,2,55000.0,1,64.0,20%-<30%,8,10,2,2,35-44,6,10,NaN,NaN,NaN,2557,40.24,72800,53.0,520,776,24,26163564900
36843,72313,549300E3X7YDJIUENL65,99999,MI,2.605555e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Ethnicity Not Available,White,Joint,2,0,2,1,1,1,2,2,105000,NaN,6.25,2.873,NaN,NaN,NaN,NaN,NaN,240.0,NaN,2,2,2,2,115000.0,1,76.0,39,8,9,2,2,65-74,6,10,NaN,NaN,NaN,4087,16.20,71500,80.0,648,1009,19,26055551302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12914246,15760517,549300W4FT4H1UWPGU95,27100,MI,2.607501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,1,0,2,1,1,1,2,2,25000,77.806,8.74,4.761,NaN,499.0,NaN,NaN,NaN,144.0,NaN,2,2,2,2,35000.0,1,47.0,20%-<30%,9,10,2,2,25-34,6,10,NaN,NaN,NaN,5241,22.93,84300,71.0,788,1383,26,26075005601
12914430,15760726,549300W4FT4H1UWPGU95,27100,MI,2.607501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Joint,1,0,2,1,1,1,2,2,45000,88.874,7.99,3.710,NaN,499.0,NaN,NaN,NaN,240.0,NaN,2,2,2,2,45000.0,1,141.0,<20%,9,9,2,2,25-34,6,10,NaN,NaN,NaN,5241,22.93,84300,71.0,788,1383,26,26075005601
12914583,15760885,549300W4FT4H1UWPGU95,27100,MI,2.607501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Joint,1,0,2,1,1,1,2,2,45000,88.628,7.99,3.493,NaN,499.0,NaN,NaN,NaN,240.0,NaN,2,2,2,2,55000.0,1,95.0,<20%,9,9,2,2,55-64,6,10,NaN,NaN,NaN,5241,22.93,84300,71.0,788,1383,26,26075005601
12918216,15764707,549300W4FT4H1UWPGU95,19804,MI,2.616356e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Male,1,0,2,1,31,1,2,2,45000,69.319,6.99,2.438,NaN,499.0,NaN,NaN,NaN,240.0,NaN,2,2,2,2,65000.0,1,50.0,36,9,10,2,2,<25,6,10,NaN,NaN,NaN,2557,40.24,72800,53.0,520,776,24,26163564900
12918227,15764718,549300W4FT4H1UWPGU95,27100,MI,2.607501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Manufactured,Not Hispanic or Latino,White,Female,1,0,2,1,31,1,2,2,15000,65.887,7.99,4.318,NaN,499.0,NaN,NaN,NaN,144.0,NaN,2,2,2,2,25000.0,1,34.0,40,9,10,2,2,55-64,6,10,NaN,NaN,NaN,5241,22.93,84300,71.0,788,1383,26,26075005601